.container-customer-invoicing {
  width: 100%;


}

.contianer-invoice {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
  flex-wrap: wrap;
  background-color: #fff;
  margin: 10px;
  /* border: thin solid #000; */

}

.container-customers {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  flex-wrap: wrap;
  background-color: #fff;

}

.container-table {
  width: 100%;
  padding: 20px 120px 0px 120px;
}


.contianer-customer {
  width: 50%;
  display: flex;
  flex-direction: column;

  padding: 20px 40px 0px 120px;

}

.contianer-customer-detail {
  width: 50%;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: space-between;
}

.my-form-group {
  margin-bottom: 5px;
  /* Espaciado vertical entre los grupos */
}

.my-form-group label {
  display: block;
  /* Asegura que las etiquetas ocupen una línea completa */
  font-weight: bold;
  /* Estilo opcional para las etiquetas */
}

.my-form-group input[type="text"],
.my-form-group input[type="email"],
.my-form-group input[type="password"],
.my-form-group textarea,
.my-form-group select {
  width: 70%;
  padding: 5px;
  border: none;
  border-bottom: 1px solid #ccc;

  box-sizing: border-box;
}

.my-form-group small {
  font-size: 10px;
  color: #999;
}

.my-form-group.form-check input[type="checkbox"] {
  margin-right: 5px;
}

.my-form-group.form-check label {
  display: inline-block;
}

.form-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
  flex-wrap: wrap;

}

.form-group label {
  margin-right: 10px;
  width: 30%;
}

.form-group .input-payment-reference {
  width: 60%;
  margin-right: 10px;
  border: none;
  border-bottom: 1px solid #ccc;
  /* Agrega un borde alrededor del control */

  box-sizing: border-box;
  /* Incluye el relleno y el borde en el tamaño total */
}

input:focus {
  outline: none;
}

.custom-select {
  width: 70%;
  /* height: 10px; */
}

.table>tbody>tr:hover {
  background-color: #F2F2F2;
  cursor: pointer;
}

.container {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}

.panel {
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.panel-body {
  /* padding: 15px; */
  max-height: 300px; 
  overflow-y: auto;
}

.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
  border-collapse: collapse;
}


.table td {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #ddd;
}

.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 12px;
  border-radius: 4px;
}

.btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}

.btn-danger {
  color: #fff;
  background-color: #d9534f;
  border-color: #d43f3a;
}

.glyphicon {
  display: inline-block;
  font-family: "Glyphicons Halflings";
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

tr th {
  text-align: start;
}


.select-table{
  width: 100%;
  height:auto;
  /* height: 10px; */
}

.container-select-table{
  width: 300px;
}

thead  {
  height: 30px;
}

thead th {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #f2f2f2; /* Asegura que los encabezados sean visibles */
}

.contianer-controls{
  display: flex;
  padding: 0 20px 20px 20px;
  justify-content: space-between;
}


.container-total {

  width: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 5px;
  margin-top: 20px;
}

.container-total label {
  font-weight: bold;
}

.container-total label:last-child {
  color: #ff0000;
}

.container-btn-save{
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}

.btn-save {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  transition: background-color 0.3s ease;
}