<div class="container mx-auto">
  <!--  {{ clientBilling | json }} -->
  <form class="w-100" #itemForm="ngForm" (ngSubmit)="onSubmit(itemForm)">
    <div class="container">
      <div class="w-100 flex justify-between">
        <h2 class="text-4xl font-extrabold">Factura de Clientes</h2>
        <div class="flex justify-end">
          <button
            type="button"
            class="focus:outline-none text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2 me-2 mb-2"
          >
            Cancelar
          </button>
          <button
            type="submit"
            class="focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2 me-2 mb-2"
          >
            Guardar
          </button>
        </div>
      </div>
      <div class="contianer-customer-detail">
        <div class="form-group">
          <label for="cliente">Fecha de Factura</label>
          <mat-form-field class="example-full-width custom-form-field">
            <input matInput [matDatepicker]="pickerFactura" />

            <mat-datepicker-toggle matIconSuffix [for]="pickerFactura">
            </mat-datepicker-toggle>
            <mat-datepicker #pickerFactura></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="form-group">
          <label for="">Referencia de pago</label>
          <input type="text" class="input-payment-reference" />
        </div>
        <div class="form-group">
          <label for="cliente">Fecha de Vencimiento</label>
          <mat-form-field class="example-full">
            <input matInput [matDatepicker]="pickerVencimiento" />
            <mat-datepicker-toggle matIconSuffix [for]="pickerVencimiento">
            </mat-datepicker-toggle>
            <mat-datepicker #pickerVencimiento></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="form-group">
          <label for="diario">Condiciones de pago</label>
          <ng-select
            dropdownPosition="bottom"
            class="custom"
            id="c_tipo_planilla"
            class="custom-select"
            name="c_tipo_planilla"
            formControlName="c_tipo_planilla"
          >
            <ng-option *ngFor="let item of clientes" [value]="item.id">
              {{ item.cliente }}</ng-option
            >
          </ng-select>
        </div>
        <div class="form-group">
          <label for="diario">Diario</label>
          <ng-select
            dropdownPosition="bottom"
            class="custom"
            id="c_tipo_planilla"
            class="custom-select"
            name="c_tipo_planilla"
            formControlName="c_tipo_planilla"
          >
            <ng-option *ngFor="let item of clientes" [value]="item.id">
              {{ item.cliente }}</ng-option
            >
          </ng-select>
        </div>
      </div>
    </div>

    <div class="container-table" *ngIf="lista.length > 0">
      <div class="panel panel-default">
        <div class="panel-body">
          <table class="table">
            <thead>
              <tr>
                <th>#</th>
                <th>Producto</th>
                <th>Etiqueta</th>
                <th>Cuenta</th>
                <th>Cantidad</th>
                <th>Precio</th>
                <th>Impuestos</th>
                <th>Total</th>
                <th>Eliminar</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of lista; let i = index">
                <td>{{ i + 1 }}</td>
                <td
                  contenteditable
                  (blur)="editarCampo($event, i, 'producto')"
                  [textContent]="item.producto"
                ></td>
                <td
                  contenteditable
                  (blur)="editarCampo($event, i, 'etiqueta')"
                  [textContent]="item.etiqueta"
                ></td>
                <td>
                  <ng-select
                    dropdownPosition="bottom"
                    class="custom"
                    id="c_tipo_planilla"
                    class="custom-select"
                    name="c_tipo_planilla"
                    formControlName="c_tipo_planilla"
                    (change)="capturarSeleccion($event, i)"
                  >
                    <ng-option
                      *ngFor="let nuevo of clientes"
                      [value]="nuevo.id"
                      >{{ nuevo.cliente }}</ng-option
                    >
                  </ng-select>
                </td>
                <td
                  contenteditable
                  (blur)="editarCampo($event, i, 'cantidad')"
                  [textContent]="item.cantidad"
                ></td>
                <td
                  contenteditable
                  (blur)="editarCampo($event, i, 'cantidad')"
                  [textContent]="item.cantidad"
                ></td>
                <td
                  contenteditable
                  (blur)="editarCampo($event, i, 'precio')"
                  [textContent]="item.precio"
                ></td>
                <td>{{ item.cantidad * item.precio }}</td>
                <td>
                  <button class="btn btn-danger" (click)="eliminar(i)">
                    <mat-icon>delete</mat-icon>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="btn-group">
            <button class="btn btn-default" (click)="agregar()">
              <mat-icon>add</mat-icon>
              <p>Agregar Nueva linea</p>
            </button>
            <!-- <button class="btn btn-default" (click)="recuperarValores()">Recuperar Valores</button> -->
          </div>
          <br />
          <br />
          <div id="JSON"></div>
        </div>
      </div>
    </div>

    <div *ngIf="invalidBalance.length > 0">
      {{ invalidBalance }}
    </div>
    <div *ngIf="invalidNumberOfTx.length > 0">
      {{ invalidBalance }}
    </div>
    <div
      *ngIf="totalCredit > 0 || totalDebit > 0"
      class="grid grid-cols-2 bg-slate-50 -mb-3"
    >
      <small class="col-span-1"
        >Total Debe: {{ totalDebit | currency : "L" }}</small
      >
      <small class="col-span-1"
        >Total Haber: {{ totalCredit | currency : "L" }}</small
      >
    </div>
    <dx-data-grid
      id="grid-billing-client"
      class="mx-auto mt-2 py-2"
      [dataSource]="dataSource"
      [showBorders]="true"
      [height]="300"
      [repaintChangesOnly]="true"
      [showRowLines]="true"
      (onContentReady)="onContentReady($event)"
      [allowColumnResizing]="true"
    >
      <dxo-load-panel [enabled]="true"></dxo-load-panel>
      <dxo-scrolling mode="virtual"></dxo-scrolling>
      <dxo-editing
        mode="form"
        [useIcons]="true"
        [allowAdding]="true"
        [allowDeleting]="true"
        [allowUpdating]="true"
      />
      <dxi-column
        caption="#"
        [width]="50"
        [minWidth]="20"
        alignment="center"
        cellTemplate="indexTemplate"
        [showEditorAlways]="false"
        [formItem]="{ visible: false }"
        [allowEditing]="false"
      >
      </dxi-column>
      <dxi-column
        dataField="cuenta"
        caption="Cuenta"
        alignment="center"
        [editorOptions]="{ searchEnabled: true }"
      >
        <dxo-lookup
          [dataSource]="listAccount"
          valueExpr="code"
          displayExpr="name"
        ></dxo-lookup>
      </dxi-column>
      <dxi-column
        dataField="monto"
        caption="Monto"
        dataType="number"
        [format]="{ type: 'currency', precision: 4 }"
        [customizeText]="customCurrencyText"
        alignment="center"
        [width]="120"
      ></dxi-column>
      <dxi-column
        dataField="movimiento"
        caption="Movimiento"
        alignment="center"
        [width]="90"
      >
        <dxo-lookup
          [dataSource]="listMovement"
          valueExpr="code"
          displayExpr="name"
        ></dxo-lookup>
      </dxi-column>

      <div *dxTemplate="let d of 'indexTemplate'">
        <span>{{ d.rowIndex + 1 }}</span>
      </div>

      <dxo-summary>
        <dxi-total-item name="totalDebit" summaryType="custom">
        </dxi-total-item>
        <dxi-total-item name="totalCredit" summaryType="custom">
        </dxi-total-item>
      </dxo-summary>
      <dxo-summary [calculateCustomSummary]="calculateSummary"></dxo-summary>
    </dx-data-grid>
  </form>
</div>
