<form class="max-w-xs mx-auto mt-[10%] p-16 bg-white border-2 border-gray-300 shadow-lg"
  [formGroup]="loginForm" (submit)="onSubmit()">
  <div class="mb-12">
    <label for="username" class="block mb-2 text-lg font-semibold text-gray-800">Usuario</label>
    <input type="text" id="username" formControlName="userName" autocomplete="off"
      class="w-full p-3 pl-0 border-b-2 border-gray-400 text-gray-800 text-sm focus:outline-none focus:ring-0 focus:border-blue-500"
      placeholder="lmartinez" required />
  </div>
  
  <div class="mb-12">
    <label for="password" class="block mb-2 text-lg font-semibold text-gray-800">Contraseña</label>
    <input type="password" formControlName="password" id="password"
      class="w-full p-3 pl-0 border-b-2 border-gray-400 text-gray-800 text-sm focus:outline-none focus:ring-0 focus:border-blue-500"
      required />
  </div>

  <div *ngIf="erroLogin" class="mb-8">
    <small class="block w-full text-center text-red-600 font-medium">Usuario o Contraseña inválido</small>
  </div>

  <button type="submit"
    class="w-full py-3 px-4 border-2 border-blue-400 text-blue-500 font-semibold  focus:outline-none hover:bg-blue-100 transition duration-300 ease-in-out">
    Iniciar Sesión
  </button>
</form>
