<div class="flex h-screen" [ngStyle]="backgroundStyle">
  <div class="hidden md:flex w-1/2 bg-cover bg-center">
  </div>
  <div class="w-full md:w-1/2 flex items-center justify-end">
    <form class="w-full max-w-2xl p-12 bg-white/95 backdrop-blur-sm shadow-2xl h-screen" [formGroup]="loginForm"
      (ngSubmit)="onSubmit()">
      <div class="mb-16 mt-12">
        <h2 class="text-5xl text-center font-serif text-blue-600 font-bold tracking-wide">
          STI Accounting
        </h2>
        <div class="w-40 h-1 bg-blue-600 mx-auto mt-4 rounded-full"></div>
      </div>

      <div class="flex flex-col justify-center space-y-8">
        <div class="mb-8">
          <h3 class="text-3xl text-center font-serif text-blue-600">Bienvenido</h3>
          <p class="text-sm text-center text-gray-500 font-serif mt-2">
            Ingresa tu usuario y contraseña para iniciar sesión.
          </p>
        </div>

        <div class="space-y-2">
          <label for="username" class="block text-sm font-medium text-gray-500 font-serif">
            Usuario
          </label>
          <input type="text" id="username" formControlName="userName"
            class="w-full px-4 py-3 border rounded-lg text-gray-800 text-sm focus:outline-none focus:ring-2 focus:ring-blue-400 focus:border-transparent"
            placeholder="Ingrese su usuario" required />
        </div>

        <div class="space-y-2">
          <label for="password" class="block text-sm font-medium text-gray-500 font-serif">
            Contraseña
          </label>
          <div class="relative">
            <input
              [type]="showPassword ? 'text' : 'password'"
              id="password"
              formControlName="password"
              class="w-full px-4 py-3 border rounded-lg text-gray-800 text-sm focus:outline-none focus:ring-2 focus:ring-blue-400 focus:border-transparent pr-10"
              placeholder="Ingrese su contraseña"
              required
            />
            <button 
              type="button" 
              class="absolute right-3 top-1/2 -translate-y-1/2 text-gray-500 hover:text-gray-700 focus:outline-none"
              (click)="togglePasswordVisibility()"
            >
              <i class="material-icons">{{ showPassword ? 'visibility_off' : 'visibility' }}</i>
            </button>
          </div>
        </div>


        <div class="flex justify-center items-center">
          <a href="#" class="text-base font-medium font-serif text-blue-500 hover:text-blue-600 transition-colors">
            ¿Olvidaste tu contraseña?
          </a>
        </div>

        <button type="submit"
          class="w-full py-3 px-4 bg-blue-500 text-white font-semibold rounded-lg hover:bg-blue-600 transition duration-300 transform hover:scale-[1.02]"
          [disabled]="!loginForm.valid">
          Iniciar sesión
        </button>

        <div *ngIf="errorLogin" class="mt-4">
          <small class="block w-full text-center text-red-600 font-medium">Usuario o Contraseña inválido</small>
        </div>
      </div>
    </form>
  </div>
</div>