<div class="container mx-auto">
    <div class="flex items-center justify-between mt-5">
        <h2 class="mt-5 text-2xl font-semibold">Notas de Crédito</h2>

        @if(!isViewOnly && status !== null && status === 'DRAFT'){
        <button
            class="font-medium rounded-lg text-sm px-5 py-2 text-white bg-green-600 hover:bg-green-700 disabled:bg-green-300 disabled:opacity-50"
            (click)="posting()">
            Confirmar
        </button>
        }
    </div>

    <form id="noteCreditForm" class="w-100" #itemForm="ngForm" (ngSubmit)="onSubmit(itemForm)">
        <div class="grid grid-cols-1 sm:grid-cols-2 gap-3 auto-cols-fr mt-10">
            <!-- Referencia Contable -->
            <div class="flex items-end gap-0 w-full">
                <div class="flex-grow">
                    <label class="block mb-2 text-sm text-gray-900">
                        Referencia Contable:
                    </label>

                    <div class="flex flex-col sm:flex-row sm:items-stretch w-full">
                        <!-- dx-select-box -->
                        <dx-select-box [dataSource]="creditTransaction" [(ngModel)]="selectRow.referenceNumber"
                            name="id" [searchEnabled]="true" valueExpr="referenceNumber" displayExpr="referenceNumber"
                            [searchExpr]="['referenceNumber', 'journalEntry']" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm
                     focus:ring-blue-500 focus:border-blue-500
                     block w-full p-2 h-12
                     rounded-lg
                     sm:rounded-l-lg sm:rounded-r-none" (valueChange)="onValueChange($event)" [disabled]="isViewOnly"
                            [ngClass]="isViewOnly
                ? 'bg-gray-100 text-gray-500 cursor-not-allowed'
                : ''">
                            <div *dxTemplate="let data of 'item'">
                                <strong>PDA {{ data.numberPda }}</strong>
                                <small class="text-gray-400"> - {{ data.referenceNumber }}</small>
                            </div>
                        </dx-select-box>

                        <!-- Botón búsqueda -->
                        <button type="button" (click)="showModal()" class="flex items-center justify-center
                     text-white
                     border
                     focus:ring-4
                     w-full mt-2 h-11 rounded-lg
                     sm:mt-0 sm:w-12 sm:h-12
                     sm:rounded-r-lg sm:rounded-l-none" [disabled]="isViewOnly" [ngClass]="isViewOnly
                ? 'bg-gray-300 border-gray-300 cursor-not-allowed hover:bg-gray-300'
                : 'bg-blue-600 hover:bg-blue-700 border-blue-600 focus:ring-blue-300'">
                            <svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                    stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
                            </svg>
                        </button>
                    </div>

                    <div *ngIf="itemForm.submitted && selectRow.referenceNumber == ''">
                        <small class="text-xs text-red-900">
                            Referencia Contable es requerida.
                        </small>
                    </div>
                </div>
            </div>

            <!-- Fecha -->
            <div>
                <label for="date" class="block mb-2 text-sm text-gray-900">Fecha:</label>
                <input type="date" [(ngModel)]="creditNotes.date" id="date" name="date" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg
                 focus:ring-blue-500 focus:border-blue-500 block w-full p-2" [readonly]="isViewOnly"
                    [ngClass]="isViewOnly ? 'bg-gray-100 text-gray-500 cursor-not-allowed' : ''" required />
                <div *ngIf="itemForm.submitted && itemForm.form.controls['date'].getError('required')">
                    <small class="text-xs text-red-900">La fecha es requerida.</small>
                </div>
            </div>

            <!-- Diario -->
            <div class="basis-1/2">
                <label for="dayri" class="block mt-1 mb-2 text-sm text-gray-900">Diario:</label>

                <select [(ngModel)]="creditNotes.dayri" (change)="onChangeJournal($event)" name="dayri" id="dayri"
                    required class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg
                 focus:ring-blue-500 focus:border-blue-500 block w-full p-2 focus:outline-none" [disabled]="isViewOnly"
                    [ngClass]="isViewOnly ? 'bg-gray-100 text-gray-500 cursor-not-allowed' : ''">
                    <option value="" disabled>Seleccione un diario</option>
                    <option *ngFor="let journal of journalList" [ngValue]="journal.id">
                        {{ journal.diaryName }}
                    </option>
                </select>

                <div *ngIf="itemForm.submitted &&
                    itemForm.controls['dayri']?.invalid &&
                    itemForm.controls['dayri']?.errors?.['required']">
                    <small class="text-xs text-red-900">Diario es requerido.</small>
                </div>
            </div>
        </div>

        <!-- ===== Partida # ... Mostrar detalles ===== -->
        @if(transactionOriginal.details.length > 0){
        <h1 class="text-center font-bold text-2xl mt-4">Histórico de Transaciones</h1>

        <div class="mt-6 mb-2 border border-gray-200 rounded-lg shadow-md">
            <div
                class="flex justify-between items-center p-3 bg-gradient-to-r from-gray-200 to-gray-100 text-gray-700 rounded-t-lg">
                <h4 class="text-sm font-semibold ">
                    Partida #
                    <span class="text-gray-600 font-bold">{{ transactionOriginal.numberPda }}</span>
                </h4>
                <button type="button" (click)="toggleDetails()"
                    class="flex items-center text-sm font-semibold text-gray-700 hover:text-blue-600 focus:outline-none">
                    <i class="fas" [ngClass]="showDetails ? 'fa-chevron-up' : 'fa-chevron-down'"></i>
                    <span class="ml-1">{{ showDetails ? 'Ocultar detalles' : 'Mostrar detalles' }}</span>
                </button>
            </div>

            <div *ngIf="showDetails" class="relative overflow-x-auto">
                <table class="w-full text-xs text-left text-gray-700 bg-white rounded-b-lg">
                    <thead class="text-xs font-semibold text-gray-500 uppercase bg-gray-100 border-b border-gray-200">
                        <tr>
                            <th class="px-3 py-2">Nombre Cuenta</th>
                            <th class="px-3 py-2 border-l">Debe</th>
                            <th class="px-3 py-2 border-l">Haber</th>
                        </tr>
                    </thead>
                    <tbody class="bg-white divide-y divide-gray-200">
                        <tr *ngFor="let item of transactionOriginal.details" class="hover:bg-gray-50">
                            <td class="px-3 py-2 font-medium text-gray-800">{{ item.nameAccount }}</td>
                            <td class="px-3 py-2 text-right border-l">{{ item.debe | currency:'L' }}</td>
                            <td class="px-3 py-2 text-right border-l">{{ item.haber | currency:'L' }}</td>
                        </tr>

                        <tr class="bg-gray-100 font-bold text-gray-900">
                            <td class="px-3 py-2">Total</td>
                            <td class="px-3 py-2 text-right border-l">{{ transactionOriginal.totalDebit | currency:'L'
                                }}</td>
                            <td class="px-3 py-2 text-right border-l">{{ transactionOriginal.totalCredit | currency:'L'
                                }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        }

        <!-- Historial de otras notas de crédito -->
        <div *ngIf="listCredtiNotesByTransaction.length > 0">
            <div *ngFor="let transactionOriginal of listCredtiNotesByTransaction; let i = index; trackBy: trackByFn">
                <div class="border-b border-gray-200 shadow-md mb-2">
                    <div
                        class="flex justify-between items-center p-3 bg-gradient-to-r from-gray-200 to-gray-100 text-gray-700">
                        <h4 class="text-sm font-semibold">
                            Nota de Crédito:
                            <span class="text-gray-600 font-bold">{{ transactionOriginal.numberPda }}</span>
                        </h4>
                        <button type="button" (click)="toggleDetailsAdjustment(i)"
                            class="flex items-center text-sm font-semibold text-gray-700 hover:text-blue-600 focus:outline-none">
                            <i class="fas"
                                [ngClass]="showDetailsAdjustment[i] ? 'fa-chevron-up' : 'fa-chevron-down'"></i>
                            <span class="ml-1">{{ showDetailsAdjustment[i] ? 'Ocultar detalles' : 'Mostrar detalles'
                                }}</span>
                        </button>
                    </div>

                    <div *ngIf="showDetailsAdjustment[i]" class="relative overflow-x-auto">
                        <div class="border-t border-gray-300 my-2"></div>
                        <p class="pl-3"><small><strong>Fecha: </strong>{{transactionOriginal.date }}</small></p>
                        <p class="pl-3"><small><strong>Usuario: </strong>{{transactionOriginal.user}}</small></p>
                        <table class="w-full text-xs text-left text-gray-700 bg-white">
                            <thead
                                class="text-xs font-semibold text-gray-500 uppercase bg-gray-100 border-b border-gray-200">
                                <tr>
                                    <th class="px-3 py-2">Nombre Cuenta</th>
                                    <th class="px-3 py-2 border-l">Debe</th>
                                    <th class="px-3 py-2 border-l">Haber</th>
                                </tr>
                            </thead>

                            <tbody class="bg-white divide-y divide-gray-200">
                                <tr *ngFor="let item of transactionOriginal.details" class="hover:bg-gray-50">
                                    <td class="px-3 py-2 font-medium text-gray-800">{{ item.nameAccount }}</td>
                                    <td class="px-3 py-2 text-right border-l">{{ item.debe | currency:'L' }}</td>
                                    <td class="px-3 py-2 text-right border-l">{{ item.haber | currency:'L' }}</td>
                                </tr>

                                <tr class="bg-gray-100 font-bold text-gray-900">
                                    <td class="px-3 py-2">Total</td>
                                    <td class="px-3 py-2 text-right border-l">{{ transactionOriginal.totalDebit |
                                        currency:'L' }}</td>
                                    <td class="px-3 py-2 text-right border-l">{{ transactionOriginal.totalCredit |
                                        currency:'L' }}</td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="border-b border-gray-200 mt-2"></div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Descripción -->
        <div class="mb-2 mt-4">
            <label for="description" class="block mb-2 text-sm text-gray-900">Descripción de Nota:</label>
            <input type="text" name="description" maxlength="150" [(ngModel)]="description" id="description"
                class="block w-full p-4 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-base focus:ring-blue-500 focus:border-blue-500"
                placeholder="Ingresa una descripción corta de nota de crédito" required [readonly]="isViewOnly"
                [ngClass]="isViewOnly ? 'bg-gray-100 text-gray-500 cursor-not-allowed' : ''" />
            <div *ngIf="itemForm.submitted && itemForm.form.controls['description'].getError('required')">
                <small class="text-xs text-red-900">La descripción es requerida.</small>
            </div>
        </div>

        <!-- GRID -->
        <dx-data-grid id="grid-billing-client" class="mx-auto mt-4 py-2" [dataSource]="dataSource" [showBorders]="true"
            [height]="400" [repaintChangesOnly]="true" [showRowLines]="true" (onContentReady)="onContentReady($event)"
            [allowColumnResizing]="true" noDataText="" (onRowInserted)="saveRow($event)"
            (onRowUpdated)="updateRow($event)" (onRowRemoved)="removedRow($event)"
            (onRowValidating)="onRowValidating($event)" (onSaving)="onSaving($event)">

            <dxo-load-panel [enabled]="true"></dxo-load-panel>
            <dxo-scrolling mode="virtual"></dxo-scrolling>

            <dxo-editing mode="form" [useIcons]="true" [allowAdding]="allowAddEntry" [allowDeleting]="enableEdit"
                [allowUpdating]="enableEdit">
                <dxo-form itemType="group" [colCount]="2">
                    <dxi-item itemType="group">
                        <dxi-item dataField="accountId" [label]="{ text: 'Cuenta' }" editorType="dxSelectBox"
                            [editorOptions]="{
                dataSource: accountList,
                displayExpr: combineCodeAndDescription,
                valueExpr: 'id'
              }">
                            <dxi-validation-rule type="required" message="Seleccione una cuenta."></dxi-validation-rule>
                        </dxi-item>

                        <dxi-item dataField="movement" [label]="{ text: 'Movimiento' }" editorType="dxSelectBox"
                            [editorOptions]="{
                dataSource: listMovement,
                displayExpr: 'name',
                valueExpr: 'code'
              }">
                            <dxi-validation-rule type="required"
                                message="Seleccione el movimiento (Debe/Haber)."></dxi-validation-rule>
                        </dxi-item>
                    </dxi-item>

                    <dxi-item itemType="group">
                        <dxi-item dataField="amount" [label]="{ text: 'Monto' }" editorType="dxNumberBox"
                            [editorOptions]="{
                showSpinButtons: true,
                format: '#,##0.00',
                min: 0.01
              }">
                            <dxi-validation-rule type="required" message="Ingrese un monto."></dxi-validation-rule>
                            <dxi-validation-rule type="custom" [validationCallback]="amountGreaterThanZero"
                                message="El monto debe ser mayor que 0."></dxi-validation-rule>
                        </dxi-item>
                    </dxi-item>
                </dxo-form>
            </dxo-editing>

            <dxi-column caption="#" [width]="50" [minWidth]="20" alignment="center" cellTemplate="indexTemplate"
                [showEditorAlways]="false" [formItem]="{ visible: false }" [allowEditing]="false">
            </dxi-column>

            <dxi-column dataField="accountId" caption="Cuenta" alignment="center" [editorOptions]="editorOptions">
                <dxo-lookup [dataSource]="accountList" valueExpr="id" [displayExpr]="combineCodeAndDescription">
                </dxo-lookup>
                <dxi-validation-rule type="required"></dxi-validation-rule>
            </dxi-column>

            <dxi-column caption="Debe" [width]="120" [calculateCellValue]="getDebit" [format]="'currency'">
            </dxi-column>

            <dxi-column caption="Haber" [width]="120" [calculateCellValue]="getCredit" [format]="'currency'">
            </dxi-column>

            <dxi-column dataField="movement" [visible]="false"></dxi-column>
            <dxi-column dataField="amount" [visible]="false"></dxi-column>

            <dxo-toolbar>
                <dxi-item location="before">
                    <div class="w-40 flex flex-col text-center border border-b-0 px-1.5 shadow">
                        <label class="block font-mono font-semibold">Total Debe</label>
                        <small class="block font-mono font-medium text-red-900">
                            {{ totalDebit | currency : 'L. ' }}
                        </small>
                    </div>
                </dxi-item>

                <dxi-item location="before">
                    <div class="w-40 flex flex-col text-center border border-b-0 px-1.5 shadow">
                        <label class="block font-mono font-semibold">Total Haber</label>
                        <small class="block font-mono font-medium text-green-900">
                            {{ totalCredit | currency : 'L. ' }}
                        </small>
                    </div>
                </dxi-item>

                <dxi-item *ngIf="!isViewOnly" [widget]="'dxButton'" [options]="{ text: 'Agregar fila', icon: 'add' }"
                    name="addRowButton">
                </dxi-item>
            </dxo-toolbar>

            <div *dxTemplate="let d of 'indexTemplate'">
                <span>{{ d.rowIndex + 1 }}</span>
            </div>

            <div class="" *dxTemplate="let account of 'accounts'">
                <strong class="">{{ account.code }} </strong>
                <small class="text-gray-400">{{ account.description }}</small>
            </div>

            <dxi-column *ngIf="!isViewOnly && enableEdit()" type="buttons" [width]="110">
                <dxi-button name="edit"></dxi-button>
                <dxi-button name="delete"></dxi-button>
            </dxi-column>

            <dxo-summary>
                <dxi-total-item name="totalDebit" summaryType="custom"></dxi-total-item>
                <dxi-total-item name="totalCredit" summaryType="custom"></dxi-total-item>
            </dxo-summary>
            <dxo-summary [calculateCustomSummary]="calculateSummary"></dxo-summary>
        </dx-data-grid>

        <!-- footer botones -->
        <div class="mt-4 flex justify-end">
            <button type="button" (click)="goBack()"
                class="font-medium rounded-lg text-sm px-5 py-1 me-2 mb-2 border border-gray-600 text-gray-600 bg-white-600">
                Regresar
            </button>

            <!-- Guardar solo si NO es vista y NO está posteado -->
            <ng-container *ngIf="!isViewOnly && status !== 'SUCCESS'">
                <button type="submit"
                    class="font-medium rounded-lg text-sm px-5 py-1 me-2 mb-2 text-white bg-blue-600 disabled:bg-blue-300 disabled:opacity-50">
                    Guardar
                </button>
            </ng-container>
        </div>
    </form>
</div>

<dx-toast [(visible)]="showToast" [type]="toastType" [message]="messageToast">
    <dxo-position my="top" at="top" of="#noteCreditForm"> </dxo-position>
</dx-toast>

<!-- Popup selección Partida -->
<dx-popup [width]="900" [height]="540" [showTitle]="true" title="Seleccionar Partida" [dragEnabled]="false"
    [hideOnOutsideClick]="true" [(visible)]="popupVisible" [showCloseButton]="true">
    <div *dxTemplate="let data of 'content'">
        <div class="flex flex-col h-[480px]">
            <!-- Tabla -->
            <div class="flex-1 overflow-y-auto min-h-0">
                <dx-data-grid id="gridJournalEntry" [dataSource]="creditTransaction" class="mt-3" keyExpr="id"
                    [allowColumnReordering]="true" [rowAlternationEnabled]="true" [allowColumnResizing]="true"
                    [allowColumnReordering]="true" [showBorders]="true" [width]="'100%'"
                    (onSelectionChanged)="onRowSelected($event)" [selection]="{ mode: 'single' }">

                    <dxo-selection mode="single" showCheckBoxesMode="always"></dxo-selection>
                    <dxo-sorting mode="multiple"></dxo-sorting>
                    <dxo-header-filter [visible]="true"></dxo-header-filter>
                    <dxo-paging [pageSize]="15"></dxo-paging>
                    <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[10, 25, 50, 100]"></dxo-pager>
                    <dxo-search-panel [visible]="true" [highlightCaseSensitive]="true"></dxo-search-panel>
                    <dxo-group-panel [visible]="true"></dxo-group-panel>

                    <dxi-column caption="Fecha" dataField="date" dataType="date" alignment="center" format="dd/MM/yyyy"
                        width="90">
                    </dxi-column>
                    <dxi-column alignment="center" caption="Partida" dataField="numberPda"></dxi-column>
                    <dxi-column alignment="center" caption="Número" dataField="referenceNumber"></dxi-column>
                    <dxi-column alignment="center" caption="Referencia" dataField="reference"></dxi-column>
                    <dxi-column alignment="center" caption="Diario" dataField="journalEntry"></dxi-column>
                    <dxi-column alignment="center" caption="Total" dataType="currency" dataField="total"></dxi-column>
                    <dxi-column alignment="center" caption="Estado" dataField="status"></dxi-column>
                </dx-data-grid>
            </div>

            <!-- Footer del popup -->
            <div class="sticky bottom-0 bg-white pt-3 mt-3 border-t flex justify-end gap-2">
                <button type="button" (click)="showModal()"
                    class="focus:outline-none text-white font-medium rounded-lg text-sm px-5 py-1" [ngClass]="isViewOnly
            ? 'bg-gray-300 cursor-not-allowed'
            : 'bg-blue-500 hover:bg-blue-600 focus:ring-4 focus:ring-blue-300'" [disabled]="isViewOnly">
                    Regresar
                </button>

                <button type="button" [disabled]="selectRow.id === 0 || isViewOnly" (click)="showModal()" [ngClass]="
            (selectRow.id != 0 && !isViewOnly)
              ? 'bg-teal-500 hover:bg-teal-600 focus:ring-teal-300'
              : 'bg-teal-300 cursor-not-allowed'
          " class="focus:outline-none text-white font-medium rounded-lg text-sm px-5 py-1 focus:ring-4">
                    Seleccionar
                </button>
            </div>
        </div>
    </div>
</dx-popup>