<div class="w-100 mt-5">
    <h2 class="text-4xl mb-6 font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl">
        Configuracion Archivos
    </h2>

    


    <dx-data-grid id="account-list-grid" [dataSource]="bulkSettingList$ | async" [repaintChangesOnly]="true"
        [loadPanel]="{ enabled: true }" [width]="'100%'" [allowColumnReordering]="true" [allowColumnResizing]="true"
        [remoteOperations]="false" [rowAlternationEnabled]="true" [showBorders]="true">
        <dxo-sorting mode="multiple"></dxo-sorting>
        <dxo-header-filter [visible]="true"></dxo-header-filter>
        <dxo-search-panel [visible]="true" [highlightCaseSensitive]="true"></dxo-search-panel>
        <dxo-group-panel [visible]="true"></dxo-group-panel>

        <dxo-paging [pageSize]="15"> </dxo-paging>
        <dxo-pager [visible]="true"> </dxo-pager>
        <dxi-column caption="#" [width]="50" [minWidth]="20" alignment="left" cellTemplate="indexTemplate"
            [showEditorAlways]="false" [formItem]="{ visible: false }" [allowEditing]="false">
        </dxi-column>
        <dxi-column caption="Nombre" dataField="name" alignment="left"></dxi-column>
        <dxi-column caption="Tipo" dataField="typeSale" alignment="left"></dxi-column>

        <dxi-column caption="Fila Inicio"  dataField="rowInit"alignment="left"></dxi-column>
        <dxi-column caption="Estado" dataField="status" alignment="center" [width]="100"></dxi-column>


        <div *dxTemplate="let d of 'indexTemplate'">
            <span>{{ d.rowIndex + 1 }}</span>
        </div>

        <dxi-column type="buttons" cellTemplate="cellButtonTemplate" width="50">
            <div *dxTemplate="let data of 'cellButtonTemplate'">

                <button class="dx-link dx-icon-edit dx-link-icon" (click)="onEditUploadBulk(data.data)"></button>
            </div>
        </dxi-column>
        <dxo-toolbar>
            <dxi-item name="groupPanel"></dxi-item>
            <dxi-item name="searchPanel"></dxi-item>
            <dxi-item location="after">
                <dx-button icon="add" hint="Agregar Periodo" aria-placeholder="Agregar Periodo"
                    (onClick)="goToNewUploadBulk()">
                </dx-button>
            </dxi-item>
        </dxo-toolbar>
    </dx-data-grid>
</div>