<!-- <h2 class="text-2xl font-semibold mb-5 text-center mt-4">Mayores Contables</h2>

<dx-data-grid id="gridJournalEntry" [dataSource]="tranactionList$" class="mt-5" keyExpr="id"
    [allowColumnReordering]="true" [rowAlternationEnabled]="true" [allowColumnResizing]="true"
    [allowColumnReordering]="true" [showBorders]="true" [width]="'100%'">

    <dxo-sorting mode="multiple"></dxo-sorting>
    <dxo-header-filter [visible]="true"></dxo-header-filter>
    <dxo-paging [pageSize]="15"></dxo-paging>
    <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[10, 25, 50, 100]"></dxo-pager>
    <dxo-search-panel [visible]="true" [highlightCaseSensitive]="true"></dxo-search-panel>
    <dxo-group-panel [visible]="true"></dxo-group-panel>

    <dxi-column caption="Fecha" dataField="date" format="shortDate" dataType="date" alignment="center"
        format="dd/MM/yyyy" width="90"></dxi-column>
    <dxi-column alignment="center" caption="Asiento Contable" dataField="diary"></dxi-column>
    <dxi-column alignment="center" caption="Cuenta" dataField="account"></dxi-column>

    <dxi-column alignment="center" caption="Debe" dataType="currency" dataField="debit" [format]="{ 
        style: 'currency', 
        currency: 'HNL', 
        minimumFractionDigits: 2, 
        useGrouping: true 
      }"></dxi-column>
    <dxi-column alignment="center" caption="Haber" dataType="currency" dataField="credit" [format]="{ 
        style: 'currency', 
        currency: 'HNL', 
        minimumFractionDigits: 2, 
        useGrouping: true 
      }"></dxi-column>
    <dxi-column alignment="center" caption="Balance" dataField="balance" [format]="{ 
        style: 'currency', 
        currency: 'HNL', 
        minimumFractionDigits: 2, 
        useGrouping: true 
      }"></dxi-column>

      <dxo-summary>
        <dxi-total-item
          column="debit"
          summaryType="sum"
          valueFormat="currency"
            [valueFormat]="{ 
        style: 'currency', 
        currency: 'HNL', 
        minimumFractionDigits: 2, 
        useGrouping: true 
      }"
    displayFormat="Total {0}"
        ></dxi-total-item>
        <dxi-total-item
          column="credit"
          summaryType="sum"
          valueFormat="currency"
            [valueFormat]="{ 
        style: 'currency', 
        currency: 'HNL', 
        minimumFractionDigits: 2, 
        useGrouping: true 
      }"
    displayFormat="Total {0}"
        ></dxi-total-item>
  
        <dxi-total-item
          column="balance"
          summaryType="sum"
          valueFormat="currency"
            [valueFormat]="{ 
        style: 'currency', 
        currency: 'HNL', 
        minimumFractionDigits: 2, 
        useGrouping: true 
      }"
    displayFormat="Total {0}"
        ></dxi-total-item>
        <dxi-group-item
        column="balance"
        summaryType="sum"
        displayFormat="Total: {0}"
        [valueFormat]="{ 
          style: 'currency', 
          currency: 'HNL', 
          minimumFractionDigits: 2, 
          useGrouping: true 
        }"
        [showInGroupFooter]="true"
        [alignByColumn]="true"
      ></dxi-group-item>
    
      <dxi-group-item
        column="debit"
        summaryType="sum"
        displayFormat="Total: {0}"
        [valueFormat]="{ 
          style: 'currency', 
          currency: 'HNL', 
          minimumFractionDigits: 2, 
          useGrouping: true 
        }"
        [showInGroupFooter]="true"
        [alignByColumn]="true"
      ></dxi-group-item>

      <dxi-group-item
      column="credit"
      summaryType="sum"
      [showInGroupFooter]="false"
      [valueFormat]="{ 
        style: 'currency', 
        currency: 'HNL', 
        minimumFractionDigits: 2, 
        useGrouping: true 
      }"
      displayFormat="Total: {1}. {0}" 
    ></dxi-group-item> 
    <dxi-group-item
    column="debit"
    summaryType="sum"
    [showInGroupFooter]="false"
    [valueFormat]="{ 
      style: 'currency', 
      currency: 'HNL', 
      minimumFractionDigits: 2, 
      useGrouping: true 
    }"
    displayFormat="Total {1}:{0}" 
  ></dxi-group-item>
      <dxi-group-item
      column="credit"
      summaryType="sum"
      [showInGroupFooter]="true"
      [valueFormat]="{ 
        style: 'currency', 
        currency: 'HNL', 
        minimumFractionDigits: 2, 
        useGrouping: true 
      }"
      displayFormat="Total:{0}" 
    ></dxi-group-item>
   
    <dxi-group-item
    column="balance"
    summaryType="sum"
    [showInGroupFooter]="false"
    [valueFormat]="{ 
      style: 'currency', 
      currency: 'HNL', 
      minimumFractionDigits: 2, 
      useGrouping: true 
    }"
    displayFormat="Total {1}:{0}" 
  ></dxi-group-item>
      </dxo-summary>
</dx-data-grid>
 -->

<div class="w-100 items-center mt-5">
  <h1 class="text-2xl font-semibold text-center">{{company.name}}</h1>
  <h2 class="text-2xl font-semibold text-center">Mayores Contables</h2>
  <h3 class="font-semibold text-center">{{periodoAnual}}</h3>
  <dx-data-grid id="gridJournalEntry" [dataSource]="tranactionList$ | async"
    class="mt-5 shadow-lg overflow-hidden mb-10" [allowColumnReordering]="true" [rowAlternationEnabled]="true"
    [allowColumnResizing]="true" [allowColumnReordering]="true" [showBorders]="true" [width]="'100%'"
    (onExporting)="onExporting($event)">

    <dxo-export [enabled]="true"></dxo-export>

    <dxo-sorting mode="multiple"></dxo-sorting>
    <dxo-header-filter [visible]="true"></dxo-header-filter>
    <dxo-paging [pageSize]="10"></dxo-paging>
    <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[10, 25, 50, 100]"></dxo-pager>
    <dxo-search-panel [visible]="true" [highlightCaseSensitive]="true"></dxo-search-panel>
    <dxo-group-panel [visible]="true"></dxo-group-panel>

    <dxi-column alignment="left" caption="Cuenta" dataField="name" class="p-2 text-center bg-gray-100"></dxi-column>
    <dxi-column alignment="left" caption="Tipo Cuenta" dataField="typeAccount"
      class="p-2 text-center bg-gray-100"></dxi-column>

    <dxi-column alignment="right" caption="Debe" dataType="currency" dataField="totalDebit" [format]="{ 
    style: 'currency', 
    currency: 'HNL', 
    minimumFractionDigits: 2, 
    useGrouping: true 
  }" class="p-2 text-center bg-gray-100"></dxi-column>

    <dxi-column alignment="right" caption="Haber" dataType="currency" dataField="totalCredit" [format]="{ 
    style: 'currency', 
    currency: 'HNL', 
    minimumFractionDigits: 2, 
    useGrouping: true 
  }" class="p-2 text-center bg-gray-100"></dxi-column>

    <dxi-column alignment="right" caption="Balance" dataField="balance" [format]="{ 
    style: 'currency', 
    currency: 'HNL', 
    minimumFractionDigits: 2, 
    useGrouping: true 
  }" class="p-2 text-center bg-gray-100"></dxi-column>

    <dxo-master-detail [enabled]="true" template="detail"></dxo-master-detail>
    <div *dxTemplate="let transaction of 'detail'">

      <p class="text-gray-700 text-base font-bold mb-1">Resumen de Transacciones</p>
      <div id="overview" class="flex flex-col w-full space-y-1 p-3 rounded-lg shadow-sm">
        <div class="flex space-x-4">
          <div class="flex flex-col w-1/2">
            <p class="text-gray-700 text-sm font-medium">
              <span class="font-semibold text-gray-600">Cuenta:</span> {{transaction.data.name}}
            </p>
            <p class="text-gray-700 text-sm font-medium">
              <span class="font-semibold text-gray-600">Código:</span> {{transaction.data.code}}
            </p>
          </div>

          <div class="flex flex-col w-1/2">
            <p class="text-gray-700 text-sm font-medium">
              <span class="font-semibold text-gray-600">Tipo de Cuenta:</span> {{transaction.data.typeAccount}}
            </p>
            <p class="text-gray-700 text-sm font-medium">
              <span class="font-semibold text-gray-600">Cuenta Padre:</span> {{transaction.data.fatherAccount}}
            </p>
          </div>
        </div>
      </div>

      <dx-data-grid id="gridJournalEntryDetail" [dataSource]="transaction.data.transaction" class="bg-transparent"
        [allowColumnReordering]="true" [rowAlternationEnabled]="true" [allowColumnResizing]="true"
        [allowColumnReordering]="true" [showBorders]="true" [width]="'100%'" style="margin-left: 0; margin-right: 0;"
        (onExporting)="onExporting($event)">

        <dxo-export [enabled]="true"></dxo-export>

        <dxo-paging [pageSize]="5"></dxo-paging>
        <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[10, 25, 50, 100]"></dxo-pager>
        <dxo-search-panel [visible]="true" [highlightCaseSensitive]="true"></dxo-search-panel>

        <dxi-column caption="Fecha" dataField="date" format="shortDate" dataType="date" alignment="center"
          format="dd/MM/yyyy" width="90" cssClass="text-center"></dxi-column>
        <dxi-column alignment="left" caption="Cuenta" dataField="name" class="p-2 text-center bg-gray-100"></dxi-column>
        <dxi-column alignment="left" caption="Asiento Contable" dataField="motion" cssClass="text-center"></dxi-column>
        <dxi-column alignment="left" caption="N. Partida" dataField="numberPda" cssClass="text-center"></dxi-column>

        <dxi-column alignment="right" caption="Debe" dataType="currency" dataField="debitAmount" [format]="{ 
          style: 'currency', 
          currency: 'HNL', 
          minimumFractionDigits: 2, 
          useGrouping: true 
        }" cssClass="text-center"></dxi-column>

        <dxi-column alignment="right" caption="Haber" dataType="currency" dataField="creditAmount" [format]="{ 
          style: 'currency', 
          currency: 'HNL', 
          minimumFractionDigits: 2, 
          useGrouping: true 
        }" cssClass="text-center"></dxi-column>

        <dxi-column alignment="right" caption="Balance" dataField="balance" [format]="{ 
          style: 'currency', 
          currency: 'HNL', 
          minimumFractionDigits: 2, 
          useGrouping: true 
        }" cssClass="text-center"></dxi-column>

        <dxo-summary>
          <dxi-total-item column="creditAmount" summaryType="sum" valueFormat="currency" [valueFormat]="{ 
            style: 'currency', 
            currency: 'HNL', 
            minimumFractionDigits: 2, 
            useGrouping: true 
          }" displayFormat="Total {0}" cssClass="font-bold text-right border-b border-gray-300"></dxi-total-item>

          <dxi-total-item column="debitAmount" summaryType="sum" valueFormat="currency" [valueFormat]="{ 
            style: 'currency', 
            currency: 'HNL', 
            minimumFractionDigits: 2, 
            useGrouping: true 
          }" displayFormat="Total {0}" cssClass="font-bold text-right border-b border-gray-300"></dxi-total-item>

          <dxi-total-item column="balance" summaryType="sum" valueFormat="currency" [valueFormat]="{ 
            style: 'currency', 
            currency: 'HNL', 
            minimumFractionDigits: 2, 
            useGrouping: true 
          }" displayFormat="Total {0}" cssClass="font-bold text-right border-b border-gray-300"></dxi-total-item>
        </dxo-summary>
      </dx-data-grid>
    </div>

  </dx-data-grid>
</div>