<div
    class="flex flex-col items-center justify-center min-h-screen p-4 bg-cover bg-center bg-[url('/assets/accounting-bg.jpg')]">
    <div class="w-full max-w-2xl p-10 bg-white/95 backdrop-blur-sm rounded-xl shadow-2xl relative">
        <button type="button" (click)="backToLogin()"
            class="absolute left-2 top-2 text-blue-600 hover:text-blue-800 rounded-full p-2 hover:bg-blue-50 transition-colors">
            <i class="material-icons">arrow_back</i>
        </button>

        <br>
        <h2 class="text-3xl text-center font-serif text-blue-600 mb-6">Recuperar Contraseña</h2>

        <br>
        <form id="passwordRecoveryForm" class="space-y-6" #itemForm="ngForm" (ngSubmit)="onSubmit(itemForm)">
            <div class="space-y-2">
                <label for="email" class="block text-sm font-medium text-gray-500 font-serif">
                    Correo Electrónico
                </label>
                <input id="email" name="email" type="email" [(ngModel)]="passwordRecoveryForm.email" required email
                    #emailInput="ngModel"
                    class="w-full px-4 py-3 border rounded-lg text-gray-800 text-sm focus:outline-none focus:ring-2 focus:ring-blue-400 focus:border-transparent"
                    placeholder="Ingrese su correo electrónico"
                    [class.border-red-500]="emailInput.invalid && (emailInput.touched || itemForm.submitted)">

                <div *ngIf="(emailInput.touched || itemForm.submitted) && emailInput.invalid"
                    class="text-xs text-red-900">
                    <div *ngIf="emailInput.errors?.['required']">
                        Correo Electrónico es requerido.
                    </div>
                    <div *ngIf="emailInput.errors?.['email']">
                        Por favor ingrese un correo electrónico válido.
                    </div>
                </div>
            </div>

            <div class="flex justify-center pt-4">
                <button type="submit" [disabled]="itemForm.invalid || !emailInput.valid"
                    class="max-w-xs py-3 px-4 bg-blue-500 text-white font-semibold rounded-lg hover:bg-blue-700 transition duration-300 transform hover:scale-[1.02] shadow-md disabled:bg-blue-300 disabled:cursor-not-allowed">
                    Enviar
                </button>
            </div>
        </form>
    </div>
</div>

<dx-toast [(visible)]="showToast" [message]="messageToast" [type]="toastType" [displayTime]="4000"
    [position]="{ my: { x: 'center', y: 'top' }, at: { x: 'center', y: 'top' }, offset: '0 60' }">
</dx-toast>