<div class="container">
  <h2 class="font-medium text-2xl mt-2 mb-5">Nueva Empresa</h2>
  <form id="companyForm" class="w-100" #itemForm="ngForm" (ngSubmit)="onSubmit(itemForm)">
    <div class="flex flex-row">
      <fieldset class="flex border rounded-sm w-full gap-2 gap-x-3 p-2">
        <legend class="font-medium ml-2"><strong>Información General</strong></legend>

        <div class="flex flex-col items-center space-y-4">
          <div class="w-60 h-auto">
            <!-- Mostrar la imagen cargada desde el servidor si no se ha cambiado la imagen -->
            <img *ngIf="!imageChanged && id" [src]="apiLogo + id" alt="Logo" class="h-auto w-full rounded-lg shadow-lg">

            <!-- Mostrar vista previa si se cambió la imagen -->
            <img *ngIf="imageChanged" [src]="imagePreview" alt="Preview" class="h-auto w-full rounded-lg shadow-lg">

          </div>

          <label
            class="flex flex-col items-center justify-center w-60 px-4 py-2 bg-gray-100 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer hover:bg-gray-200 hover:border-gray-400 transition-all duration-200">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-gray-500 mb-1" fill="none" viewBox="0 0 24 24"
              stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4" />
            </svg>
            <span class="text-gray-500 text-xs">Selecciona una imagen</span>
            <input type="file" (change)="onFileSelected($event)" accept="image/*" class="hidden" />
          </label>
          <div *ngIf="itemForm.submitted && !imagePreview && !imageChanged && !id" class="text-xs text-red-900 mt-1">
            <small>Por favor seleccione una imagen.</small>
          </div>


        </div>

        <div class="w-full grid grid-cols-3 gap-3">
          <div class="form">
            <label for="name" class="block mb-2 text-sm text-gray-900">Nombre:</label>
            <input id="name" name="name" type="text" [(ngModel)]="companyForm.name"
              class="border block w-full p-2 border-gray-300 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 focus:outline-none"
              placeholder="Empresa XYZ" required />
            <div *ngIf="itemForm.submitted && itemForm.form.controls['name'].getError('required')">
              <small class="text-xs text-red-900">Nombre es requerido.</small>
            </div>
          </div>

          <div class="form">
            <label for="address" class="block mb-2 text-sm text-gray-900">Dirección:</label>
            <input id="address" name="address" type="text"
              class="border block w-full p-2 border-gray-300 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 focus:outline-none"
              [(ngModel)]="companyForm.address" placeholder="Colonia las Colinas, Tegucigalpa, Honduras" required />
            <div *ngIf="itemForm.submitted && itemForm.form.controls['address'].getError('required')">
              <small class="text-xs text-red-900">Dirección es requerida.</small>
            </div>
          </div>

          <div class="form">
            <label for="rtn" class="block mb-2 text-sm text-gray-900">RTN:</label>
            <input id="rtn" name="rtn" type="text" [(ngModel)]="companyForm.rtn"
              class="border block w-full p-2 border-gray-300 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 focus:outline-none"
              placeholder="" required pattern="[0-9]{14}" minlength="14" maxlength="14" />
            <div *ngIf="itemForm.submitted && itemForm.form.controls['rtn'].getError('required')">
              <small class="text-xs text-red-900">RTN es requerido.</small>
            </div>
            <div *ngIf="itemForm.submitted && itemForm.form.controls['rtn'].hasError('pattern')">
              <small class="text-xs text-red-900">Solo se permiten números.</small>
            </div>
            <div
              *ngIf="(itemForm.form.controls['rtn'].hasError('minlength') || itemForm.form.controls['rtn'].hasError('maxlength'))">
              <small class="text-xs text-red-900">El RTN es inválido debe tener 14 caracteres.</small>
            </div>
          </div>

          <div class="form">
            <label for="type" class="block mb-2 text-sm text-gray-900">Razón:</label>
            <select required="true" name="type" id="type" [(ngModel)]="companyForm.type"
              class="border block w-full p-2 border-gray-300 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 focus:outline-none">
              <option value="JURIDICA">JURIDICA</option>
              <option value="NATURAL">NATURAL</option>
            </select>
            <div *ngIf="itemForm.submitted && itemForm.form.controls['type'].getError('required')">
              <small class="text-xs text-red-900">Razón es requerida.</small>
            </div>
          </div>

          <div class="form">
            <label for="email" class="block mb-2 text-sm text-gray-900">Correo Electrónico:</label>
            <input id="email" name="email" type="email" [(ngModel)]="companyForm.email"
              class="border block w-full p-2 border-gray-300 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 focus:outline-none"
              placeholder="" email required pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}" />
            <div *ngIf="itemForm.submitted && itemForm.form.controls['email'].getError('required')">
              <small class="text-xs text-red-900">Correo Electrónico es requerido.</small>
            </div>
            <div
              *ngIf="itemForm.submitted && (itemForm.form.controls['email'].getError('email') || itemForm.form.controls['email'].getError('pattern'))">
              <small class="text-xs text-red-900">Formato de correo inválido.</small>
            </div>
          </div>
          <div class="form">
            <label for="phone" class="block mb-2 text-sm text-gray-900">Teléfono:</label>
            <input id="phone" name="phone" type="text" [(ngModel)]="companyForm.phone"
              class="border block w-full p-2 border-gray-300 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 focus:outline-none"
              placeholder="" required pattern="^(?:\+504 \d{4}-\d{4}|\d{8}|\d{4}-\d{4})$" />
            <div *ngIf="itemForm.submitted && itemForm.form.controls['phone'].getError('required')">
              <small class="text-xs text-red-900">Teléfono es requerido.</small>
            </div>
            <div *ngIf="itemForm.submitted && itemForm.form.controls['phone'].hasError('pattern')">
              <small class="text-xs text-red-900">Formato inválido. Debe ser +504 2280-3450, 96588978 o
                9685-1590.</small>
            </div>
          </div>

          <div class="form">
            <label for="website" class="block mb-2 text-sm text-gray-900">Sitio Web:</label>
            <input id="website" name="website" type="url" [(ngModel)]="companyForm.website"
              class="border block w-full p-2 border-gray-300 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 focus:outline-none"
              placeholder="" />
            <div *ngIf="itemForm.submitted && itemForm.form.controls['website'].getError('required')">
              <small class="text-xs text-red-900">Sitio Web es requerido.</small>
            </div>
          </div>

          <div class="form col-span-3">
            <label for="description" class="block mb-2 text-sm text-gray-900">Descripción:</label>
            <textarea name="description" id="description" rows="2" [(ngModel)]="companyForm.description" class="border block w-full p-2 border-gray-300 text-sm rounded-lg focus:ring-blue-500
               focus:border-blue-500 focus:outline-none">
          </textarea>
            <div *ngIf="itemForm.submitted && itemForm.form.controls['description'].getError('required')">
              <small class="text-xs text-red-900">Descripción es requerida.</small>
            </div>
          </div>
        </div>
      </fieldset>
    </div>
    <div class="grid grid-cols-3 gap-2 mt-2">
      <fieldset class="flex border rounded-sm w-full gap-2 p-2">
        <legend class="font-medium ml-2"><strong>Información Contable</strong></legend>
        <div class="form w-full">
          <label for="accountConfig" class="block mb-2 text-sm text-gray-900">Configuración de Cuentas:</label>
          <select required="true" name="accountConfig" id="accountConfig" (change)="onAccountConfig($event)"
            class="border block w-full p-1.5 border-gray-300 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 focus:outline-none">
            <option value="1">Usar Cuentas del Sistema</option>
            <option value="0">No Configurar Cuentas</option>
            <option value="2">Copiar de Empresa</option>
          </select>
          @if(accountsFromSystem === 2) {
          <div class="form w-full">
            <label for="copyFromSelect" class="block mb-2 text-sm text-gray-900"></label>
            <select required name="tenantId" id="tenantId" class="bg-gray-50 border
           border-gray-300 text-gray-900 
                        text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2"
              [(ngModel)]="tenantId" required>
              <option *ngFor="let company of companyList$ | async" [ngValue]="company.tenantId">
                {{ company.name }}
              </option>
            </select>
            <div *ngIf="itemForm.submitted && itemForm.form.controls['tenantId'].getError('required')">
              <small class="text-xs text-red-900">Empresa es requerida.</small>
            </div>
          </div>
          }
        </div>
      </fieldset>

      <fieldset class="flex border rounded-sm w-full gap-2 gap-x-3 p-2 col-span-2">
        <legend class="font-medium ml-2"><strong>Usuarios</strong></legend>

        <dx-data-grid (onToolbarPreparing)="onToolbarPreparing($event)" id="companyUserGrid"
          [dataSource]="filteredUsers" [showBorders]="true" [selection]="{ mode: 'single' }"
          (onSelectionChanged)="onSelectionChanged($event)">
          <dxo-toolbar>
            <dxi-item location="before" widget="dxTextBox" [options]="{
        placeholder: 'Buscar usuarios...',
        showClearButton: true,
        value: searchTerm,
        valueChangeEvent: 'input',
        onValueChanged: searchHandler
      }"></dxi-item>
            <dxi-item location="after" widget="dxButton" [options]="{
        icon: 'refresh',
        onClick: refreshData
      }"></dxi-item>
          </dxo-toolbar>

          <dxo-paging [enabled]="true" [pageSize]="5"></dxo-paging>
          <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[5, 10, 20]" [showInfo]="true"
            infoText="Página {0} de {1} ({2} usuarios)"></dxo-pager>

          <dxo-editing mode="cell" [allowUpdating]="true" [allowAdding]="false" [allowDeleting]="false"></dxo-editing>
          <dxi-column caption="Nombre" [calculateCellValue]="fullName" [allowEditing]="false"></dxi-column>
          <dxi-column dataField="roles" caption="Roles" [allowSorting]="false" editCellTemplate="tagBoxEditor"
            [cellTemplate]="cellTemplate">
            <dxo-lookup [dataSource]="rolesCompanys$" valueExpr="id" displayExpr="name"></dxo-lookup>
          </dxi-column>

          <div *dxTemplate="let cellInfo of 'tagBoxEditor'">
            <dx-tag-box [dataSource]="rolesCompanys$" [value]="cellInfo.value" valueExpr="id" displayExpr="name"
              [showSelectionControls]="true" [maxDisplayedTags]="3" [showMultiTagOnly]="false"
              [inputAttr]="{ 'aria-label': 'Name' }" applyValueMode="useButtons" [searchEnabled]="true"
              (onValueChanged)="cellInfo.setValue($event.value)"
              (onSelectionChanged)="cellInfo.component.updateDimensions()"></dx-tag-box>
          </div>
        </dx-data-grid>
      </fieldset>
      <!-- <fieldset class="flex border rounded-sm w-full gap-2 gap-x-3 p-2 col-span-3">
        <legend class="text-sm font-thin mb-2">Roles</legend>
        <dx-data-grid id="companyUserGrid" [showBorders]="true" [dataSource]="rolesList$">
          <dxo-paging [enabled]="false"></dxo-paging>
          <dxo-group-panel [visible]="false"></dxo-group-panel>
          <dxo-editing mode="row" [allowUpdating]="true" [allowAdding]="true" [allowDeleting]="true">
          </dxo-editing>
          <dxi-column caption="Nombre" dataField="name"></dxi-column>
          <dxi-column caption="Permiso" dataField="active" [width]="100" cellTemplate="cellTemplate">
          </dxi-column>
          <div *dxTemplate="let data of 'cellTemplate'">
            <label class="inline-flex items-center cursor-pointer">
              <input type="checkbox" value="" class="sr-only peer" [(ngModel)]="data.data.active"
                [ngModelOptions]="{standalone: true}">
              <div class="relative w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-4
                     peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full 
                     peer dark:bg-gray-700 peer-checked:after:translate-x-full 
                     rtl:peer-checked:after:-translate-x-full
                      peer-checked:after:border-white after:content-[''] 
                      after:absolute after:top-[2px] after:start-[2px] after:bg-white
                       after:border-gray-300 after:border after:rounded-full after:h-5 
                       after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600">
              </div>
            </label>
          </div>
        </dx-data-grid>
      </fieldset> -->


    </div>

    <div class="flex justify-end mt-10">
      <button type="button" (click)="goBack()"
        class="font-medium rounded-lg text-sm px-5 py-1 me-2 mb-2 border border-gray-600 text-gray-600 bg-white-600">
        Cancelar
      </button>
      <button type="submit" class="font-medium rounded-lg text-sm px-5 py-1 me-2 mb-2 text-white bg-blue-600">
        Guardar
      </button>
    </div>
  </form>

</div>

<dx-toast [(visible)]="showToast" [type]="toastType" [message]="messageToast">
  <dxo-position my="top" at="top" of="#companyForm"> </dxo-position>
</dx-toast>