<div class="w-100 mt-5">
    <h2 class="text-4xl mb-6 font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl">
        Mapeo de Cuentas
    </h2>

    <form id="bulkConfiguration" class="w-100" #itemForm="ngForm" (ngSubmit)="onSubmit(itemForm)">
        <div class="container">
            <div class="grid grid-cols-3 gap-2">
                <div class="form-group">
                    <label for="nameSettings" class="block mb-2 text-sm text-gray-900">Nombre Configuración</label>
                    <input [(ngModel)]="BulkConfiguration.name" id="nameSettings" name="nameSettings" type="text"
                        maxlength="50" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg
             focus:ring-blue-500 focus:border-blue-500 block w-full p-2" required />
                    <div *ngIf="itemForm.submitted && itemForm.form.controls['nameSettings'].getError('required')
            ">
                        <small class="text-xs text-red-900">Nombre de Configuración es requerido.</small>
                    </div>
                    <div *ngIf="itemForm.submitted && itemForm.form.controls['nameSettings'].errors?.['maxlength']">

                        <small class="text-xs text-red-900">No puede exceder los 50 caracteres.</small>
                    </div>
                </div>
                <div>
                    <label for="type" class="block mb-2 text-sm text-gray-900">Tipo</label>
                    <select [(ngModel)]="BulkConfiguration.type" required name="type" id="type"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2">
                        <option *ngFor="let journal of journalList" [ngValue]="journal.id">
                            {{ journal.diaryName }}
                        </option>
                    </select>
                    <div *ngIf="itemForm.submitted && itemForm.form.controls['type'].getError('required')
              ">
                        <small class="text-xs text-red-900">Tipo de archivo es requerido.</small>
                    </div>
                </div>
                <div class="form-group">
                    <label for="rowInit" class="block mb-2 text-sm text-gray-900">Fila Inicio</label>
                    <input [(ngModel)]="BulkConfiguration.rowInit" #rowInit="ngModel" id="rowInit" name="rowInit"
                        type="number" min="1" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg
           focus:ring-blue-500 focus:border-blue-500 block w-full p-2" required />

                    <div *ngIf="itemForm.submitted && rowInit.errors?.['required']">
                        <small class="text-xs text-red-900">Fila de inicio es requerida.</small>
                    </div>

                    <div *ngIf="itemForm.submitted && rowInit.errors?.['min']">
                        <small class="text-xs text-red-900">Fila de inicio debe ser un número mayor a 0.</small>
                    </div>
                </div>




            </div>

            <div class="w-4/5 h-px bg-gray-300 my-4 mx-auto"></div>

            <div class="grid grid-cols-3 gap-2">
                <div>
                    <label for="credito" class="block mb-2 text-sm text-gray-900">Crédito</label>
                    <select required name="credito" id="credito" (ngModelChange)="onChange($event)"
                        [(ngModel)]="configDefault[0].colum" class="bg-gray-50 border border-gray-300 text-gray-900 
                        text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2">
                        <option *ngFor="let colum of colums" [ngValue]="colum.value"
                            [ngClass]="{'hidden': colum.status}">
                            {{ colum.colum }}
                        </option>
                    </select>
                    <div *ngIf="itemForm.submitted && itemForm.form.controls['credito'].getError('required')
                  ">
                        <small class="text-xs text-red-900">Crédito es requerido.</small>
                    </div>
                </div>
                <div>
                    <label for="cuenta-credito" class="block mb-2 text-sm text-gray-900">Cuenta Crédito</label>
                    <select required name="cuenta-credito" id="cuenta-credito" [(ngModel)]="configDefault[0].account"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2">
                        <option *ngFor="let colum of accountList" [ngValue]="colum.id">
                            {{colum.description}} {{ colum.code }}
                        </option>
                    </select>
                    <div *ngIf="itemForm.submitted && itemForm.form.controls['cuenta-credito'].getError('required')
                  ">
                        <small class="text-xs text-red-900">Cuenta Crédito es requerido.</small>
                    </div>
                </div>
                <div>
                    <label for="movimiento-credito" class="block mb-2 text-sm text-gray-900">Movimiento Crédito</label>
                    <select required name="movimiento-credito" id="movimiento-credito"
                        [(ngModel)]="configDefault[0].operation"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2">
                        <option *ngFor="let colum of listMovement" [ngValue]="colum.code">
                            {{colum.name}}
                        </option>
                    </select>
                    <div *ngIf="itemForm.submitted && itemForm.form.controls['movimiento-credito'].getError('required')
                  ">
                        <small class="text-xs text-red-900">Movimiento Crédito es requerido.</small>
                    </div>
                </div>
            </div>
            <div class="w-4/5 h-px bg-gray-300 my-4 mx-auto"></div>
            <div class="grid grid-cols-3 gap-2">
                <div>
                    <label for="contado" class="block mb-2 text-sm text-gray-900">Contado</label>
                    <select required name="contado" id="contado" [(ngModel)]="configDefault[1].colum"
                        (ngModelChange)="onChange($event)"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2">
                        <option *ngFor="let colum of colums" [ngValue]="colum.value"
                            [ngClass]="{'hidden': colum.status}">
                            {{ colum.colum }}
                        </option>
                    </select>
                    <div *ngIf="itemForm.submitted && itemForm.form.controls['contado'].getError('required')
                  ">
                        <small class="text-xs text-red-900">Contado es requerido.</small>
                    </div>
                </div>
                <div>
                    <label for="cuenta-contado" class="block mb-2 text-sm text-gray-900">Cuenta Contado</label>
                    <select required name="cuenta-contado" id="cuenta-contado" [(ngModel)]="configDefault[1].account"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2">
                        <option *ngFor="let colum of accountList" [ngValue]="colum.id">
                            {{colum.description}} {{ colum.code }}
                        </option>
                    </select>
                    <div *ngIf="itemForm.submitted && itemForm.form.controls['cuenta-contado'].getError('required')
                  ">
                        <small class="text-xs text-red-900">Cuenta Contado es requerido.</small>
                    </div>
                </div>
                <div>
                    <label for="movimiento-contado" class="block mb-2 text-sm text-gray-900">Movimiento Contado</label>
                    <select required name="movimiento-contado" id="movimiento-contado"
                        [(ngModel)]="configDefault[1].operation"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2">
                        <option *ngFor="let colum of listMovement" [ngValue]="colum.code">
                            {{colum.name}}
                        </option>
                    </select>
                    <div *ngIf="itemForm.submitted && itemForm.form.controls['movimiento-contado'].getError('required')
                  ">
                        <small class="text-xs text-red-900">Movimiento Contado es requerido.</small>
                    </div>
                </div>
            </div>


            <div class="w-4/5 h-px bg-gray-300 my-4 mx-auto"></div>

            <div class="grid grid-cols-5 gap-2">
                <div>
                    <label for="factura" class="block mb-2 text-sm text-gray-900">Factura</label>
                    <select required name="factura" id="factura" [(ngModel)]="configDefault[2].colum"
                        (ngModelChange)="onChange($event)"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2">
                        <option *ngFor="let colum of colums" [ngValue]="colum.value"
                            [ngClass]="{'hidden': colum.status}">
                            {{ colum.colum }}
                        </option>
                    </select>
                    <div *ngIf="itemForm.submitted && itemForm.form.controls['factura'].getError('required')
              ">
                        <small class="text-xs text-red-900">Factura es requerida.</small>
                    </div>
                </div>
                <div>
                    <label for="fecha" class="block mb-2 text-sm text-gray-900">Fecha</label>
                    <select required name="fecha" id="fecha" [(ngModel)]="configDefault[3].colum"
                        (ngModelChange)="onChange($event)"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2">
                        <option *ngFor="let colum of colums" [ngValue]="colum.value"
                            [ngClass]="{'hidden': colum.status}">
                            {{ colum.colum }}
                        </option>
                    </select>
                    <div *ngIf="itemForm.submitted && itemForm.form.controls['fecha'].getError('required')
              ">
                        <small class="text-xs text-red-900">Fecha es requerida.</small>
                    </div>
                </div>
                <div>
                    <label for="descripcion" class="block mb-2 text-sm text-gray-900">Detalle</label>
                    <select required name="descripcion" id="descripcion" [(ngModel)]="configDefault[4].colum"
                        (ngModelChange)="onChange($event)"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2">
                        <option *ngFor="let colum of colums" [ngValue]="colum.value"
                            [ngClass]="{'hidden': colum.status}">
                            {{ colum.colum }}
                        </option>
                    </select>
                    <div *ngIf="itemForm.submitted && itemForm.form.controls['descripcion'].getError('required')
              ">
                        <small class="text-xs text-red-900">Descripcion es requerido.</small>
                    </div>
                </div>
                <div>
                    <label for="rtn" class="block mb-2 text-sm text-gray-900">RTN</label>
                    <select required name="rtn" id="rtn" [(ngModel)]="configDefault[5].colum"
                        (ngModelChange)="onChange($event)"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2">
                        <option *ngFor="let colum of colums" [ngValue]="colum.value"
                            [ngClass]="{'hidden': colum.status}">
                            {{ colum.colum }}
                        </option>
                    </select>
                    <div *ngIf="itemForm.submitted && itemForm.form.controls['rtn'].getError('required')
              ">
                        <small class="text-xs text-red-900">Rtn es requerido.</small>
                    </div>
                </div>
                <div>
                    <label for="type-pago" class="block mb-2 text-sm text-gray-900">Tipo Pago</label>
                    <select required name="type-pago" id="type-pago" [(ngModel)]="configDefault[6].colum"
                        (ngModelChange)="onChange($event)"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2">
                        <option *ngFor="let colum of colums" [ngValue]="colum.value"
                            [ngClass]="{'hidden': colum.status}">
                            {{ colum.colum }}
                        </option>
                    </select>
                    <div *ngIf="itemForm.submitted && itemForm.form.controls['type-pago'].getError('required')
              ">
                        <small class="text-xs text-red-900">Tipo de pago es requerido.</small>
                    </div>
                </div>
            </div>
        </div>

        <dx-data-grid id="grid-billing-client" class="mx-auto mt-2 py-2 w-full"
            [dataSource]="BulkConfiguration.configDetails" [showBorders]="true" [height]="500"
            [repaintChangesOnly]="true" [showRowLines]="true" [allowColumnResizing]="true" noDataText="">
            <dxo-load-panel [enabled]="true"></dxo-load-panel>
            <dxo-scrolling mode="virtual"></dxo-scrolling>

            <dxo-editing mode="cell" [useIcons]="true" [allowAdding]="true" [allowDeleting]="true"
                [allowUpdating]="true">
            </dxo-editing>

            <dxi-column caption="#" [width]="50" [minWidth]="20" alignment="center" cellTemplate="indexTemplate"
                [showEditorAlways]="false" [formItem]="{ visible: false }" [allowEditing]="false">
            </dxi-column>

            <dxi-column dataField="colum" caption="Columna" alignment="left" [width]="100" [allowEditing]="true"
                [formItem]="{ visible: true }">
                <dxo-lookup [dataSource]="filteredColumns" valueExpr="value" displayExpr="colum">
                </dxo-lookup>
                <dxi-validation-rule type="required"></dxi-validation-rule>
            </dxi-column>
            <dxi-column caption="Título" dataField="title" alignment="left" [width]="350"></dxi-column>
            <dxi-column caption="Cuenta" dataField="account" alignment="left">
                <dxo-lookup [dataSource]="accountList" valueExpr="id" [displayExpr]="combineCodeAndDescription">
                </dxo-lookup>
            </dxi-column>
            <dxi-column caption="Operación" dataField="operation" alignment="left" [width]="100">
                <dxo-lookup [dataSource]="listMovement" valueExpr="code" displayExpr="name">
                </dxo-lookup>
            </dxi-column>

            <div *dxTemplate="let d of 'indexTemplate'">
                <span>{{ d.rowIndex + 1 }}</span>
            </div>

            <dxi-column type="buttons" [width]="110">
                <dxi-button name="edit"></dxi-button>
                <dxi-button name="delete"></dxi-button>
            </dxi-column>

        </dx-data-grid>
        <div class="mt-4 flex justify-end">
            <button type="button" (click)="goBack()"
                class="font-medium rounded-lg text-sm px-5 py-1 me-2 mb-2 border border-gray-600 text-gray-600 bg-white-600">
                Regresar
            </button>

            <button type="submit"
                class="font-medium rounded-lg text-sm px-5 py-1 me-2 mb-2 text-white bg-blue-600 disabled:bg-blue-300 disabled:opacity-50">
                Guardar
            </button>

        </div>
    </form>
</div>

<dx-toast [(visible)]="showToast" [type]="toastType" [message]="messageToast">
    <dxo-position my="top" at="top" of="#bulkConfiguration"> </dxo-position>
</dx-toast>