<div class="container">
  <h2 class="font-medium text-2xl mt-2 mb-5">Empresas</h2>

  <dx-data-grid id="companiesGrid" [showBorders]="true" [dataSource]="companyList$ | async">
    <dxi-column caption="Nombre" dataField="name"></dxi-column>
    <dxi-column caption="Tipo" dataField="type"></dxi-column>
    <dxi-column caption="RTN" dataField="rtn"></dxi-column>
    <dxi-column caption="Estado" dataField="active"></dxi-column>
    <dxi-column caption="Fecha de Creación" dataField="createdAt" dataType="date"></dxi-column>
    <dxi-column type="buttons" cellTemplate="cellButtonTemplate" width="50">
      <div *dxTemplate="let user of 'cellButtonTemplate'">
        <button class="dx-link dx-icon-edit dx-link-icon" (click)="onEditCompany(user.data)"></button>
      </div>
    </dxi-column>
    <dxo-master-detail [enabled]="true" template="detail"></dxo-master-detail>

    <div *dxTemplate="let company of 'detail'">
      <div>
        <div class="max-w-full p-4 bg-white shadow-sm rounded-lg mx-2">
          <h1 class="text-xl font-semibold text-gray-800 mb-3"> {{ company.data.name }}</h1>
    
          <div class="grid grid-cols-1 md:grid-cols-2 gap-2 text-sm text-gray-700">
            <div>
              <span class="font-medium">Descripción:</span>
              <span class="whitespace-normal break-words"> {{ company.data.description }}</span>
            </div>
            <div>
              <span class="font-medium">Dirección:</span>
              <span class="whitespace-normal break-words">{{ company.data.address }}</span>
            </div>
            <div>
              <span class="font-medium">Teléfono:</span> {{ company.data.phone }}
            </div>
            <div>
              <span class="font-medium">Correo Electrónico:</span>
              <a class="text-blue-600 hover:underline">{{ company.data.email }}</a>
            </div>
            <div>
              <span class="font-medium">RTN:</span> {{ company.data.rtn }}
            </div>
            <div>
              <span class="font-medium">Tipo:</span> {{ company.data.type }}
            </div>
            <div>
              <span class="font-medium">Sitio Web:</span> {{ company.data.website }}
            </div>
            <div>
              <span class="font-medium">Estado:</span>
              <span class="text-red-500">{{ company.data.active ? 'ACTIVA' : 'INACTIVA' }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--Toolbar-->
    <dxo-toolbar>
      <dxi-item location="before" name="groupPanel"></dxi-item>
      <dxi-item location="after" name="searchPanel"></dxi-item>
      <dxi-item location="after">
        <div *dxTemplate>
          <dx-button icon="add" title="Crear" (onClick)="addCompany()">
          </dx-button>
        </div>
      </dxi-item>
    </dxo-toolbar>
    <dxo-search-panel [visible]="true"></dxo-search-panel>
    <dxo-group-panel [visible]="true"></dxo-group-panel>
  </dx-data-grid>
</div>