<div class="flex flex-col items-center justify-center pt-20">
    <div class="w-full max-w-2xl p-10 bg-white/95 backdrop-blur-sm rounded-xl shadow-2xl relative">

        <h2 class="font-medium text-2xl mt-2 mb-5 text-gray-800 text-center pb-4">
            Gestionar Contraseña
        </h2>

        <form #passwordForm="ngForm" (ngSubmit)="onSubmit(passwordForm)" class="space-y-6">
            <!-- Contraseña actual -->
            <div class="space-y-2">
                <label for="currentPassword" class="block mb-2 text-sm text-gray-900">
                    Contraseña Actual:
                </label>
                <div class="relative">
                    <input id="currentPassword" name="currentPassword"
                        [type]="showCurrentPassword ? 'text' : 'password'" [(ngModel)]="passwordData.currentPassword"
                        required #currentPasswordInput="ngModel"
                        class="w-full px-4 py-3 border rounded-lg text-gray-800 text-sm focus:outline-none focus:ring-2 focus:ring-blue-400 focus:border-transparent pr-10"
                        placeholder="Ingrese su contraseña actual">
                    <button type="button"
                        class="absolute right-3 top-3 text-gray-500 hover:text-gray-700 focus:outline-none"
                        (click)="togglePasswordVisibility('current')">
                        <i class="material-icons">{{ showCurrentPassword ? 'visibility_off' : 'visibility' }}</i>
                    </button>
                </div>
                <div *ngIf="currentPasswordInput.invalid && (currentPasswordInput.touched || passwordForm.submitted)"
                    class="text-xs text-red-900">
                    <div *ngIf="currentPasswordInput.errors?.['required']">
                        La contraseña actual es requerida
                    </div>
                </div>
            </div>

            <!-- Nueva contraseña -->
            <div class="space-y-2">
                <label for="newPassword" class="block mb-2 text-sm text-gray-900">
                    Nueva Contraseña:
                </label>
                <div class="relative">
                    <input id="newPassword" name="newPassword" [type]="showNewPassword ? 'text' : 'password'"
                        [(ngModel)]="passwordData.newPassword" required #newPasswordInput="ngModel"
                        (input)="validatePasswordStrength(newPasswordInput.control)"
                        class="w-full px-4 py-3 border rounded-lg text-gray-800 text-sm focus:outline-none focus:ring-2 focus:ring-blue-400 focus:border-transparent pr-10"
                        placeholder="Ingrese su nueva contraseña">
                    <button type="button"
                        class="absolute right-3 top-3 text-gray-500 hover:text-gray-700 focus:outline-none"
                        (click)="togglePasswordVisibility('new')">
                        <i class="material-icons">{{ showNewPassword ? 'visibility_off' : 'visibility' }}</i>
                    </button>
                </div>
                <div *ngIf="newPasswordInput.invalid && (newPasswordInput.touched || passwordForm.submitted)"
                    class="text-xs text-red-900">
                    <div *ngIf="newPasswordInput.errors?.['required']">
                        La nueva contraseña es requerida
                    </div>
                    <div *ngIf="newPasswordInput.errors?.['minlength']">
                        La contraseña debe tener al menos 8 caracteres
                    </div>
                    <div *ngIf="newPasswordInput.errors?.['noUpperCase']">
                        La contraseña debe contener al menos una letra mayúscula (A-Z)
                    </div>
                    <div *ngIf="newPasswordInput.errors?.['noLowerCase']">
                        La contraseña debe contener al menos una letra minúscula (a-z)
                    </div>
                    <div *ngIf="newPasswordInput.errors?.['noNumber']">
                        La contraseña debe contener al menos un número (0-9)
                    </div>
                    <div *ngIf="newPasswordInput.errors?.['noSpecialChar']">
                        La contraseña debe contener al menos un carácter especial.
                    </div>
                </div>
            </div>

            <!-- Confirmar contraseña -->
            <div class="space-y-2">
                <label for="confirmPassword" class="block mb-2 text-sm text-gray-900">
                    Confirmar Contraseña:
                </label>
                <div class="relative">
                    <input id="confirmPassword" name="confirmPassword"
                        [type]="showConfirmPassword ? 'text' : 'password'" [(ngModel)]="passwordData.confirmPassword"
                        required #confirmPasswordInput="ngModel"
                        class="w-full px-4 py-3 border rounded-lg text-gray-800 text-sm focus:outline-none focus:ring-2 focus:ring-blue-400 focus:border-transparent pr-10"
                        placeholder="Confirme su nueva contraseña">
                    <button type="button"
                        class="absolute right-3 top-3 text-gray-500 hover:text-gray-700 focus:outline-none"
                        (click)="togglePasswordVisibility('confirm')">
                        <i class="material-icons">{{ showConfirmPassword ? 'visibility_off' : 'visibility' }}</i>
                    </button>
                </div>
                <div *ngIf="(confirmPasswordInput.touched || passwordForm.submitted)" class="text-xs text-red-900">
                    <div *ngIf="confirmPasswordInput.errors?.['required']">
                        Por favor confirme su nueva contraseña
                    </div>
                    <div
                        *ngIf="passwordData.newPassword !== passwordData.confirmPassword && passwordData.confirmPassword">
                        Las contraseñas no coinciden
                    </div>
                </div>
            </div>

            <div class="flex justify-center pt-4">
                <button type="submit"
                    [disabled]="passwordForm.invalid || passwordData.newPassword !== passwordData.confirmPassword || isLoading"
                    class="max-w-xs py-3 px-4 bg-blue-500 text-white font-semibold rounded-lg hover:bg-blue-700 transition duration-300 transform hover:scale-[1.02] shadow-md disabled:bg-blue-300 disabled:cursor-not-allowed">
                    <span *ngIf="!isLoading">Cambiar Contraseña</span>
                    <span *ngIf="isLoading">
                        <i class="material-icons animate-spin">refresh</i> Procesando...
                    </span>
                </button>
            </div>
        </form>
    </div>
</div>

<dx-toast [(visible)]="showToast" [message]="messageToast" [type]="toastType" [displayTime]="4000"
    [position]="{ my: { x: 'center', y: 'top' }, at: { x: 'center', y: 'top' }, offset: '0 60' }">
</dx-toast>