<div class="container mx-auto">
  <h2 class="mt-5 text-2xl font-semibold">Apuntes Contables</h2>

  <dx-data-grid
    id="gridJournalEntry"
    [dataSource]="dataTable"
    class="mt-5"
    keyExpr="id"
    [allowColumnReordering]="true"
    [rowAlternationEnabled]="true"
    [allowColumnResizing]="true"
    [allowColumnReordering]="true"
    [showBorders]="true"
    [width]="'100%'"
  >
    <dxo-sorting mode="multiple"></dxo-sorting>
    <dxo-header-filter [visible]="true"></dxo-header-filter>
    <dxo-paging [pageSize]="15"></dxo-paging>
    <dxo-pager
      [showPageSizeSelector]="true"
      [allowedPageSizes]="[10, 25, 50, 100]"
    ></dxo-pager>
    <dxo-search-panel
      [visible]="true"
      [highlightCaseSensitive]="true"
    ></dxo-search-panel>
    <dxo-group-panel [visible]="true"></dxo-group-panel>

    <dxi-column
      caption="Fecha"
      dataField="date"
      format="shortDate"
      dataType="date"
      alignment="center"
      format="dd/MM/yyyy"
      width="90"
    ></dxi-column>
    <dxi-column
      alignment="center"
      caption="Asiento Contable"
      dataField="journalEntry"
    ></dxi-column>
    <dxi-column
      alignment="center"
      caption="Cuenta"
      dataField="defaultAccount"
    ></dxi-column>
    <dxi-column
      alignment="center"
      caption="Referencia"
      dataField="reference"
    ></dxi-column>
    <dxi-column
      alignment="center"
      caption="Debe"
      dataType="currency"
      dataField="debit"
    ></dxi-column>
    <dxi-column
      alignment="center"
      caption="Haber"
      dataType="currency"
      dataField="credit"
    ></dxi-column>
    <dxi-column
      alignment="center"
      caption="Balance"
      dataField="balance"
    ></dxi-column>

    <dxo-summary>
      <dxi-total-item
        column="debit"
        summaryType="sum"
        [valueFormat]="{ currency: 'HNL' }"
        valueFormat="currency"
        displayFormat="L. {0}"
      ></dxi-total-item>
      <dxi-total-item
        column="credit"
        summaryType="sum"
        [valueFormat]="{ currency: 'HNL' }"
        valueFormat="currency"
        displayFormat="L. {0}"
      ></dxi-total-item>

      <dxi-total-item
        column="balance"
        summaryType="sum"
        [valueFormat]="{ currency: 'HNL' }"
        valueFormat="currency"
        displayFormat="L. {0}"
      ></dxi-total-item>
    </dxo-summary>
  </dx-data-grid>
<!-- 
  <dx-data-grid id="gridContainer" [dataSource]="dataTable" keyExpr="id" [showBorders]="true">
    <dxo-selection mode="single"></dxo-selection>
    <dxi-column dataField="reference" caption="Ref" [groupIndex]="0"></dxi-column>
    <dxi-column dataField="defaultAccount"  caption="cuenta"></dxi-column>
    <dxi-column dataField="date" dataType="date" caption="Fecha de Factura"></dxi-column>
  
    <dxi-column dataField="description" caption="Descripcion"></dxi-column>
    <dxi-column dataField="debit" caption="debito"></dxi-column>
    <dxi-column dataField="credit" caption="credito" alignment="right"   
    [format]="{ type: 'currency', currency: 'HNL', precision: 2 }" 
    [width]="160"></dxi-column>
    <dxi-column dataField="balance" alignment="right"   
    [format]="{ type: 'currency', currency: 'HNL', precision: 2 }" 
    [width]="160"></dxi-column>

    <dxo-summary>
      <dxi-group-item column="debito" summaryType="sum" [alignByColumn]="true" 
      [valueFormat]="{ type: 'currency', currency: 'HNL', precision: 2 }" > </dxi-group-item>

      <dxi-group-item column="credito" summaryType="sum" [alignByColumn]="true" 
      [valueFormat]="{ type: 'currency', currency: 'HNL', precision: 2 }" > </dxi-group-item>
      <dxi-group-item column="balance" summaryType="sum" [alignByColumn]="true" 
      [valueFormat]="{ type: 'currency', currency: 'HNL', precision: 2 }" > </dxi-group-item>

        <dxi-total-item column="debito" summaryType="sum" 
        [valueFormat]="{ type: 'currency', currency: 'HNL', precision: 2 }" displayFormat="Total: {0}">
        </dxi-total-item>
        <dxi-total-item column="credito" summaryType="sum" 
        [valueFormat]="{ type: 'currency', currency: 'HNL', precision: 2 }" displayFormat="Total: {0}">
        </dxi-total-item>
        <dxi-total-item column="balance" summaryType="sum" displayFormat="Suma: {0}" 
        [valueFormat]="{ type: 'currency', currency: 'HNL', precision: 2 }">

        </dxi-total-item>
    </dxo-summary>

    <dxi-sort-by-group-summary-info summaryItem="count"></dxi-sort-by-group-summary-info>
</dx-data-grid> -->
</div>
