<div class="contianer-dashboard">
    <div class="container-cards">

        <div class="card" (click)="navigate('/accounting/customer-invoicing')">
            <div class="card-title">
                <p>Factura de clientes</p>
            </div>
            <div class="card-description">
                <table class="table-description">

                    <tbody>
                        <tr>
                            <td class="td-1">Factura</td>
                            <td class="td-2">001</td>
                            <td class="td-3">300 lps</td>
                        </tr>
                        <tr>
                            <td class="td-1">Factura</td>
                            <td class="td-2">000-0000-000-000-00001</td>
                            <td class="td-3">300 lps</td>
                        </tr>
                        <tr>
                            <td class="td-1">Factura</td>
                            <td class="td-2">001</td>
                            <td class="td-3">300 lps</td>
                        </tr>
                        <tr>
                            <td class="td-1">Factura</td>
                            <td class="td-2">001</td>
                            <td class="td-3">300 lps</td>
                        </tr>
                        <tr>
                            <td class="td-1">Factura</td>
                            <td class="td-2">001</td>
                            <td class="td-3">300 lps</td>
                        </tr>
                    </tbody>


                </table>
            </div>
        </div>
        <div class="card" (click)="navigate('/accounting/suplier-invoice')">
            <div class="card-title">
                <p>Factura de Proveedores</p>
            </div>
            <div class="card-description">
                <table class="table-description">
                    <tbody>
                        <tr>
                            <td class="td-1">Factura</td>
                            <td class="td-2">001</td>
                            <td class="td-3">300 lps</td>
                        </tr>
                        <tr>
                            <td class="td-1">Factura</td>
                            <td class="td-2">000-0000-000-00001</td>
                            <td class="td-3">300 lps</td>
                        </tr>
                        <tr>
                            <td class="td-1">Factura</td>
                            <td class="td-2">001</td>
                            <td class="td-3">300 lps</td>
                        </tr>
                        <tr>
                            <td class="td-1">Factura</td>
                            <td class="td-2">001</td>
                            <td class="td-3">300 lps</td>
                        </tr>
                        <tr>
                            <td class="td-1">Factura</td>
                            <td class="td-2">001</td>
                            <td class="td-3">300 lps</td>
                        </tr>
                    </tbody>

                </table>
            </div>
        </div>
        <div class="card" (click)="navigate('/accounting/account-settings')">
            <div class="card-title">
                <p>Configuracion de Cuentas</p>
            </div>
            <div class="card-description">
                <table class="table-description">
                    <tbody>
                        <tr>
                            <td class="td-1">Balance general</td>
                            <td class="td-2">001</td>
                            <td class="td-3">300 lps</td>
                        </tr>
                        <tr>
                            <td class="td-1">Caja</td>
                            <td class="td-2">000-0000-000</td>
                            <td class="td-3">300 lps</td>
                        </tr>
                        <tr>
                            <td class="td-1">terrenos</td>
                            <td class="td-2">001</td>
                            <td class="td-3">300 lps</td>
                        </tr>
                        <tr>
                            <td class="td-1">Bancos</td>
                            <td class="td-2">001</td>
                            <td class="td-3">300 lps</td>
                        </tr>
                        <tr>
                            <td class="td-1">Factura</td>
                            <td class="td-2">001</td>
                            <td class="td-3">300 lps</td>
                        </tr>
                    </tbody>

                </table>
            </div>
        </div>
        <div class="card">
            <div class="card-title">
                <p>Factura de clientes</p>
            </div>
            <div class="card-description">
                <table class="table-description">
                    <tbody>
                        <tr>
                            <td class="td-1">Factura</td>
                            <td class="td-2">001</td>
                            <td class="td-3">300 lps</td>
                        </tr>
                        <tr>
                            <td class="td-1">Factura</td>
                            <td class="td-2">000</td>
                            <td class="td-3">300 lps</td>
                        </tr>
                        <tr>
                            <td class="td-1">Factura</td>
                            <td class="td-2">001</td>
                            <td class="td-3">300 lps</td>
                        </tr>
                        <tr>
                            <td class="td-1">Factura</td>
                            <td class="td-2">001</td>
                            <td class="td-3">300 lps</td>
                        </tr>
                        <tr>
                            <td class="td-1">Factura</td>
                            <td class="td-2">001</td>
                            <td class="td-3">300 lps</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>


    </div>
</div>