<div class="w-100">
  <form id="account-form" class="w-100 mx-2 mt-5" (ngSubmit)="onSubmit(itemForm)" #itemForm="ngForm">
    <h2 class="mb-5 text-xl font-semibold">
      @if(id){Editar}@else{Agregar Nueva} Cuenta
    </h2>
    <div class="grid grid-cols-2 gap-3">
      <div>
        <Label for="txt-description" class="block mb-2 text-sm text-gray-900">Nombre de Cuenta</Label>
        <input id="txt-description" [(ngModel)]="accountForm.description" name="description" type="text" required
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2"
          style="outline: none; box-shadow: none;" />
        <div *ngIf=" itemForm.submitted && itemForm.form.controls['description'].getError('required')">
          <small class="text-xs text-red-900">Nombre de Cuenta es requerido.</small>
        </div>
      </div>
      <div>
        <Label for="select-category" class="block mb-2 text-sm text-gray-900">Categoría</Label>
        <select id="select-category" [(ngModel)]="accountForm.category" name="category" required
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2">
          @for (item of categories; track $index) {
          <option [value]="item.id">{{ item.name }}</option>
          }
        </select>
        <div *ngIf=" itemForm.submitted && itemForm.form.controls['category'].getError('required')">
          <small class="text-xs text-red-900">Categoria es requerido.</small>
        </div>
      </div>
      <div>
        <Label for="parent-account" class="block mb-2 text-sm text-gray-900">Cuenta Padre</Label>
        <dx-select-box [(value)]="accountForm.parentId" [dataSource]="accounts" name="parentId" [searchEnabled]="true"
          valueExpr="id" displayExpr="name" [searchExpr]="['name', 'code']"
          class=" focus:ring-blue-500 focus:border-blue-500  outline-none" (valueChange)="onValueChange($event)">
          <div class="" *dxTemplate="let data of 'item'">
            <strong class="text-black-600">{{data.code}}
            </strong>
            <small class="text-gray-400">{{data.name}}</small>
          </div>
        </dx-select-box>
        <div *ngIf="itemForm.submitted && accountFatherIsRequired === true && !accountForm.parentId">
          <small class="text-xs text-red-900">Cuenta Padre es requerido.</small>
        </div>
      </div>
      <div>
        <div class="flex flex-row gap-1">
          <div class="w-1/4">
            <label for="account-code" class="block mb-2 text-sm text-gray-900">Prefix</label>
            <input disabled name="prefix-txt" type="text" [value]="accountPrefix"
              class="bg-gray-50 border w-full border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 p-2" />
          </div>
          <div class="w-3/4">
            <Label for="account-code" class="block mb-2 text-sm w-full text-gray-900">
              Código de cuenta</Label>
            <input [(ngModel)]="accountForm.code" name="code" required id="account-code" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg
               focus:ring-blue-500 focus:border-blue-500 block w-full p-2" style="outline: none; box-shadow: none;" />
            <div *ngIf="itemForm.submitted && itemForm.form.controls['code'].getError('required')">
              <small class="text-xs text-red-900">Codigo es requerido.</small>
            </div>
          </div>
        </div>
      </div>
      <div>
        <Label for="select-tipically" class="block mb-2 text-sm text-gray-900">Saldo Típico</Label>
        <select id="select-tipically" [(ngModel)]="accountForm.typicalBalance" name="typicalBalance" required
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2">
          <option value="C">Crédito</option>
          <option value="D">Débito</option>
        </select>
        <div *ngIf=" itemForm.submitted && itemForm.form.controls['typicalBalance'].getError('required')">
          <small class="text-xs text-red-900">Saldo Tipico es requerido.</small>
        </div>
      </div>
      <div>
        <Label for="select-hasEntry" class="block mb-2 text-sm text-gray-900">Admite Registros</Label>
        <select id="select-hasEntry" [(ngModel)]="accountForm.supportsRegistration" (change)="onValueStatus($event)"
          name="supportsRegistration" required
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2">
          <option value="true" [disabled]="hasChildAccounts">Si</option>
          <option value="false">No</option>
        </select>
        <div *ngIf="itemForm.submitted && itemForm.form.controls['supportsRegistration'].getError('required')">
          <small class="text-xs text-red-900">Admite Registros es requerido.</small>
        </div>
      </div>

      @if(accountFatherIsRequired === true){
      <div>
        <Label for="select-hasEntry" class="block mb-2 text-sm text-gray-900">Saldo Inicial</Label>
        <input type="text" inputmode="decimal" pattern="^\d+(\.\d{1,2})?$" id="txt-balance"
          [(ngModel)]="accountForm.balances[0].initialBalance" name="balance"
          [value]="accountForm.balances[0].initialBalance" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg
           focus:ring-blue-500 focus:border-blue-500 block w-full p-2" style="outline: none; box-shadow: none;"
          (keypress)="validateDecimal($event)" />
      </div>
      <div>
        <Label for="select-hasEntry" class="block mb-2 text-sm text-gray-900">Tipo de Saldo</Label>
        <select id="select-hasEntry" [(ngModel)]="accountForm.balances[0].typicalBalance" name="saldo" required class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg
           focus:ring-blue-500 focus:border-blue-500 block w-full p-2">
          <option value="D">Debe</option>
          <option value="C">Haber</option>
        </select>
        <div *ngIf="itemForm.submitted && itemForm.form.controls['saldo'].getError('required')">
          <small class="text-xs text-red-900">Tipo de saldo es requerido.</small>
        </div>

      </div>

      <div>
        <Label for="select-accountType" class="block mb-2 text-sm text-gray-900">Tipo</Label>
        <select id="select-accountType" [(ngModel)]="accountForm.accountType" name="accountType" required
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2">
          @for (type of accountTypes; track $index) {
          <option [value]="type.id">
            {{ type.name }}
          </option>
          }
        </select>
        <div *ngIf="itemForm.submitted && itemForm.form.controls['accountType'].getError('required')">
          <small class="text-xs text-red-900">Tipo es requerido.</small>
        </div>
      </div>
      }

      <div class="clear-both"></div>
    </div>
    @if(id){

    <div class="mt-3 flex items-center border border-gray-200 rounded">
      <label class="inline-flex items-center p-2 cursor-pointer">
        <input type="checkbox" name="isActive" [(ngModel)]="accountForm.isActive" [checked]="accountForm.isActive"
          class="sr-only peer" />
        <div
          class="relative w-11 h-6 bg-gray-300 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[1px] after:bg-white after:border-gray-300 after:border after:rounded-full after:w-5 after:h-5 after:transition-all peer-checked:bg-blue-600">
        </div>
        <span class="ms-3 text-sm font-medium text-gray-900">@if(accountForm.isActive){Desactivar Cuenta}@else{Activar
          Cuenta}</span>
      </label>
    </div>

    @if(accountFatherIsRequired){
    <div class="w-100 mb-2">
      <h3 class="font-semibold text-slate-700">Historial de Saldos</h3>
      <dx-data-grid id="account-history" [dataSource]="accountForm.balances" [showBorders]="true" [width]="'100%'"
        height="150">
        <dxi-column caption="Saldo" dataField="initialBalance" dataType="number" [alignment]="'center'"
          [format]="{ type: 'fixedPoint', precision: 2, useGrouping: true }"></dxi-column>
        <dxi-column caption="Fecha" dataField="createAtDate" dataType="date" [alignment]="'center'"></dxi-column>
        <dxi-column caption="Periodo Actual?" dataField="isCurrent" [alignment]="'center'" width="120">
          <div *dxTemplate="let data of 'data'">
            {{data.value}}
            <i class="fa-solid fa-check text-green-500" *ngIf="data.value"></i>
            <i class="fa-solid fa-xmark text-red-500" *ngIf="!data.value"></i>
          </div>
        </dxi-column>
      </dx-data-grid>
    </div>
    }


    }

    <div class="mt-4 flex justify-end">
      <a type="button" [routerLink]="'/accounting/configuration'"
        class="font-medium rounded-lg text-sm px-5 py-1 me-2 mb-2 border border-gray-600 text-gray-600 bg-white-600">
        Cancelar
      </a>
      <button type="submit"
        class="font-medium rounded-lg text-sm px-5 py-1 me-2 mb-2 text-white bg-blue-600 disabled:bg-blue-300 disabled:opacity-50"
        [disabled]="hasTransaction">
        Guardar</button>
    </div>
  </form>
</div>
<dx-toast [(visible)]="showToast" [type]="toastType" [message]="messageToast">
  <dxo-position my="top" at="top" of="#account-form"> </dxo-position>
</dx-toast>