<div class="w-100 mt-5">
    <h2 class="text-4xl mb-6 font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl">
        Diarios
    </h2>

    <dx-data-grid id="account-list-grid" [dataSource]="journalList$ | async" [repaintChangesOnly]="true"
        [loadPanel]="{ enabled: true }" [width]="'100%'" [allowColumnReordering]="true" [allowColumnResizing]="true"
        [remoteOperations]="false" [rowAlternationEnabled]="true" [showBorders]="true">
        <dxo-sorting mode="multiple"></dxo-sorting>
        <dxo-header-filter [visible]="true"></dxo-header-filter>
        <dxo-search-panel [visible]="true" [highlightCaseSensitive]="true"></dxo-search-panel>
        <dxo-group-panel [visible]="true"></dxo-group-panel>

        <dxo-paging [pageSize]="15"> </dxo-paging>
        <dxo-pager [visible]="true"> </dxo-pager>

        <dxi-column caption="Orden" dataField="id" width="90"></dxi-column>
        <dxi-column caption="Nombre del Diario" dataField="diaryName"></dxi-column>
        <dxi-column caption="Tipo" dataField="accountTypeName" width="100" alignment="center"></dxi-column>
        <dxi-column caption="Codigo" dataField="code"  alignment="center"  width="150"></dxi-column>
        <dxi-column caption="Cuenta Predeterminada" dataField="defaultAccountName" alignment="center"></dxi-column>
        <dxi-column caption="Estado" dataField="status" alignment="center" width="150" cellTemplate="cellTemplate"></dxi-column>
        <dxi-column type="buttons" cellTemplate="cellButtonTemplate" width="50">
            <div *dxTemplate="let account of 'cellButtonTemplate'">
                <button class="dx-link dx-icon-edit dx-link-icon" (click)="onEditJournal(account.data)"></button>
            </div>
        </dxi-column>

        <div *dxTemplate="let data of 'cellTemplate'">
            <label class="inline-flex items-center cursor-pointer">
                <input type="checkbox" value="" class="sr-only peer" 
                [(ngModel)]="data.data.status" 
                (change)="updateJournal(data)">
                <div
                    class="relative w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-4
                     peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full 
                     peer dark:bg-gray-700 peer-checked:after:translate-x-full 
                     rtl:peer-checked:after:-translate-x-full
                      peer-checked:after:border-white after:content-[''] 
                      after:absolute after:top-[2px] after:start-[2px] after:bg-white
                       after:border-gray-300 after:border after:rounded-full after:h-5 
                       after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600">
                </div>
            </label>
          </div>

        <dxo-toolbar>
            <dxi-item name="groupPanel"></dxi-item>
            <dxi-item name="searchPanel"></dxi-item>
            <dxi-item location="after">
                <dx-button icon="add" hint="Agregar Cuenta" aria-placeholder="Agregar Cuenta"
                    (onClick)="goToNewJournal()">
                </dx-button>
            </dxi-item>
        </dxo-toolbar>
    </dx-data-grid>
</div>
<dx-toast [(visible)]="showToast" [type]="toastType" [message]="messageToast">
    <dxo-position my="top" at="top" of="#account-list-grid"> </dxo-position>
</dx-toast>