<div class="w-100 mt-5">
    <h2 class="text-4xl mb-6 font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl">
        Período Contable
    </h2>
    <div class="w-100 bg-white p-2 flex gap-2 items-center border-b-2" id="periodAccount">
        <dx-date-range-box [(value)]="currentValue" (onValueChanged)="currentValueChanged($event)"></dx-date-range-box>
        <button showControl [hasPermission]="1" [roles]="roles" type="button"
            class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 rounded-md text-sm px-5 py-2 me-1 mt-1 focus:outline-none"
            (click)="onSearch()">
            Consultar
        </button>
    </div>

    <dx-data-grid id="gridJournalEntry" [dataSource]="periodList$ | async" class="mt-5 shadow-lg overflow-hidden mb-10"
        [allowColumnReordering]="true" [rowAlternationEnabled]="true" [allowColumnResizing]="true"
        [allowColumnReordering]="true" [showBorders]="true" [width]="'100%'">

        <dxo-sorting mode="multiple"></dxo-sorting>
        <dxo-header-filter [visible]="true"></dxo-header-filter>
        <dxo-paging [pageSize]="10"></dxo-paging>
        <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[10, 25, 50, 100]"></dxo-pager>
      <!--   <dxo-search-panel [visible]="true" [highlightCaseSensitive]="true"></dxo-search-panel> -->
        <dxo-group-panel [visible]="true"></dxo-group-panel>
        <dxi-column alignment="left" caption="Periodo" dataField="name" class="p-2 text-center bg-gray-100">

        </dxi-column>
        <dxo-master-detail [enabled]="true" template="periods"></dxo-master-detail>
        <div *dxTemplate="let period of 'periods'">
            <dx-data-grid id="gridJournalEntryDetail" [dataSource]="period.data.periods" class="bg-transparent"
                [allowColumnReordering]="true" [rowAlternationEnabled]="true" [allowColumnResizing]="true"
                [allowColumnReordering]="true" [showBorders]="true" [width]="'100%'"
                style="margin-left: 0; margin-right: 0;">


                <dxo-paging [pageSize]="5"></dxo-paging>
                <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[10, 25, 50, 100]"></dxo-pager>



                <dxi-column caption="Nombre Período" dataField="periodName" alignment="center"></dxi-column>
                <dxi-column caption="Tipo de Período" dataField="closureType" alignment="center"></dxi-column>
                <dxi-column caption="Fecha Inicio" width="200" [calculateDisplayValue]="formatDateInit"
                    alignment="center"></dxi-column>
                <dxi-column caption="Fecha Fin" width="200" [calculateDisplayValue]="formatDateEnd"
                    alignment="center"></dxi-column>
                <dxi-column caption="Activo" dataField="status" [width]="100"></dxi-column>
                <dxi-column caption="Cerrado" dataField="isClosed" [width]="100"></dxi-column>
            </dx-data-grid>
        </div>

        <dxo-toolbar>
            <dxi-item name="groupPanel"></dxi-item>
            <dxi-item name="searchPanel"></dxi-item>
            <dxi-item location="after">
                <dx-button icon="add" hint="Agregar Periodo" aria-placeholder="Agregar Periodo"
                    (onClick)="goToNewJournal()">
                </dx-button>
            </dxi-item>
        </dxo-toolbar>

    </dx-data-grid>
</div>
<dx-toast [(visible)]="showToast" [type]="toastType" [message]="messageToast">
    <dxo-position my="top" at="top" of="#periodAccount"> </dxo-position>
</dx-toast>