<div class="container">
  <h2 class="font-medium text-2xl mt-2 mb-5">Nuevo Usuario</h2>
  <form id="userForm" class="w-100" #itemForm="ngForm" (ngSubmit)="onSubmit(itemForm)">
    <div class="grid grid-cols-3 gap-2">
      <div class="form w-full">
        <label for="firstName" class="block mb-2 text-sm text-gray-900">Nombre</label>
        <input placeholder="Luis" required="true" name="firstName" id="firstName" type="text"
          [(ngModel)]="userForm.firstName"
          class="border block w-full p-1.5 border-gray-300 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 focus:outline-none"
          required />
        <div *ngIf="itemForm.submitted && itemForm.form.controls['firstName'].getError('required')">
          <small class="text-xs text-red-900">Nombre es requerido.</small>
        </div>
      </div>
      <div class="form w-full">
        <label for="lastName" class="block mb-2 text-sm text-gray-900">Apellidos</label>
        <input placeholder="Martinez" required="true" name="lastName" id="lastName" type="text"
          [(ngModel)]="userForm.lastName"
          class="border block w-full p-1.5 border-gray-300 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 focus:outline-none"
          required />
        <div *ngIf="itemForm.submitted && itemForm.form.controls['lastName'].getError('required')">
          <small class="text-xs text-red-900">Apellido es requerido.</small>
        </div>
      </div>
      <div class="form w-full">
        <label for="userPhone" class="block mb-2 text-sm text-gray-900">Teléfono</label>
        <input required="true" name="userPhone" id="userPhone" type="text" placeholder="96xxxxxx, 34xxxxxx"
          [(ngModel)]="userForm.userPhone"
          class="border block w-full p-1.5 border-gray-300 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 focus:outline-none"
          required pattern="[0-9]*" />

        <div *ngIf="itemForm.submitted && itemForm.form.controls['userPhone'].getError('required')">
          <small class="text-xs text-red-900">Telefono es requerido.</small>
        </div>
        <div *ngIf="itemForm.submitted && itemForm.form.controls['userPhone'].hasError('pattern')">

          <small class="text-xs text-red-900">Solo se permiten números.</small>

        </div>
      </div>

      <div class="form w-full">
        <label for="userName" class="block mb-2 text-sm text-gray-900">Nombre de Usuario</label>
        <input placeholder="jmartinez" required="true" name="userName" id="userName" type="text"
          [(ngModel)]="userForm.userName"
          class="border block w-full p-1.5 border-gray-300 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 focus:outline-none"
          required />
        <div *ngIf="itemForm.submitted && itemForm.form.controls['userName'].getError('required')">
          <small class="text-xs text-red-900">Telefono es requerido.</small>
        </div>
      </div>

      <div class="form">
        <label for="password" class="block mb-2 text-sm text-gray-900">Contraseña</label>
        <div class="relative">
          <input [(ngModel)]="txtPassword" type="password" maxlength="20" name="password" id="password"
          autocomplete="new-password"
            class="block w-full p-1.5 text-sm text-gray-900 border border-gray-300 rounded-lg
             focus:ring-blue-500 focus:border-blue-500 focus:outline-none"
            [required]="id != null ? false : true"/>
          <div *ngIf="itemForm.submitted && itemForm.form.controls['password'].getError('required')">
            <small class="text-xs text-red-900">Contraseña es requerida.</small>
          </div>
          <button tabindex="-1" type="submit"
            class="text-white absolute end-1 bottom-1 bg-blue-700 rounded-lg text-sm px-2 py-0.5 hover:bg-blue-800 focus:outline-none focus:ring-blue-300 active:shadow-md">
            Generar
          </button>
        </div>
        @if(txtPassword !== undefined && txtPassword !== "" && txtPassword ===
        txtConfirmPassword) {
        <button class="text-gray-600 border rounded-md text-sm px-1 py-0 bg-gray-200">
          copiar
        </button>
        }
      </div>

      <div class="form">
        <label for="txtRepeatPassword" class="block mb-2 text-sm text-gray-900">Repetir Contraseña</label>
        <input [(ngModel)]="txtConfirmPassword" required="true" name="txtRepeatPassword" id="txtRepeatPassword"
          type="password"
          class="border block w-full p-1.5 border-gray-300 text-sm rounded-lg focus:ring-blue-500
           focus:border-blue-500 focus:outline-none"
          [required]="id != null ? false : true"/>
        <div *ngIf="itemForm.submitted && itemForm.form.controls['txtRepeatPassword'].getError('required')">
          <small class="text-xs text-red-900">Repetir Contraseña es requerida.</small>
        </div>
      </div>

      <div class="form">
        <label for="email" class="block mb-2 text-sm text-gray-900">Correo Electrónico</label>
        <input required="true" name="email" id="email" type="email" [(ngModel)]="userForm.email"
          class="border block w-full p-1.5 border-gray-300 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 focus:outline-none"
          required email required />
        <div *ngIf="itemForm.submitted && itemForm.form.controls['email'].getError('required')">
          <small class="text-xs text-red-900">Correo es requerido.</small>
        </div>
        <div *ngIf="itemForm.submitted && itemForm.form.controls['email'].getError('email')">
          <small class="text-xs text-red-900">Formato de correo invalido.</small>
        </div>
      </div>
      <div class="form col-span-2">
        <label for="txtAddress" class="block mb-2 text-sm text-gray-900">Dirección</label>
        <input required="true" name="txtAddress" id="txtAddress" type="text"
        [(ngModel)]="userForm.userAddress"
          class="border block w-full p-1.5 border-gray-300 text-sm rounded-lg
           focus:ring-blue-500 focus:border-blue-500 focus:outline-none" />

      </div>

      <fieldset class="flex border rounded-sm w-full gap-2 gap-x-3 p-2 col-span-3">
        <legend class="text-sm font-thin mb-2">Empresas</legend>
        <dx-data-grid id="companyUserGrid" [showBorders]="true" [dataSource]="companyList$">
          <dxo-paging [enabled]="false"></dxo-paging>
          <dxo-group-panel [visible]="false"></dxo-group-panel>
          <dxo-editing mode="cell" [allowUpdating]="true" [allowAdding]="true" [allowDeleting]="false">
          </dxo-editing>
          <dxi-column caption="Nombre" dataField="name"></dxi-column>
          <dxi-column dataField="roles" caption="roles" [allowSorting]="false"
            editCellTemplate="tagBoxEditor" [cellTemplate]="cellTemplate"
            >
            <dxo-lookup [dataSource]="rolesCompanys$" valueExpr="id" displayExpr="name">
            </dxo-lookup>
          </dxi-column>
          <div *dxTemplate="let cellInfo of 'tagBoxEditor'">
            <dx-tag-box [dataSource]="rolesCompanys$" [value]="cellInfo.value" valueExpr="id" displayExpr="name"
              [showSelectionControls]="true" [maxDisplayedTags]="3" [showMultiTagOnly]="false"
              [inputAttr]="{ 'aria-label': 'Name' }" applyValueMode="useButtons" [searchEnabled]="true"
              (onValueChanged)="cellInfo.setValue($event.value)"
              (onSelectionChanged)="cellInfo.component.updateDimensions()">
            </dx-tag-box>
          </div>
        </dx-data-grid>
      </fieldset>

      <fieldset class="flex border rounded-sm w-full gap-2 gap-x-3 p-2 col-span-3">
        <legend class="text-sm font-thin mb-2">Roles Globales</legend>
        <dx-data-grid id="companyUserGrid" [showBorders]="true" [dataSource]="rolesGlobals$">
          <dxo-paging [enabled]="false"></dxo-paging>
          <dxo-group-panel [visible]="false"></dxo-group-panel>
          <dxo-editing mode="row" [allowUpdating]="true" [allowAdding]="true" [allowDeleting]="true">
          </dxo-editing>
          <dxi-column caption="Nombre" dataField="name"></dxi-column>
          <dxi-column caption="Permiso" dataField="globalRoles" [width]="100" cellTemplate="cellTemplate">
          </dxi-column>
          <div *dxTemplate="let data of 'cellTemplate'">
            <label class="inline-flex items-center cursor-pointer">
              <input type="checkbox" value="" class="sr-only peer" [(ngModel)]="data.data.active"
                [ngModelOptions]="{standalone: true}">
              <div class="relative w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-4
                     peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full 
                     peer dark:bg-gray-700 peer-checked:after:translate-x-full 
                     rtl:peer-checked:after:-translate-x-full
                      peer-checked:after:border-white after:content-[''] 
                      after:absolute after:top-[2px] after:start-[2px] after:bg-white
                       after:border-gray-300 after:border after:rounded-full after:h-5 
                       after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600">
              </div>
            </label>
          </div>
        </dx-data-grid>
      </fieldset>
    </div>
    <div class="flex justify-end mt-10">
      <button type="button" (click)="goBack()"
        class="font-medium rounded-lg text-sm px-5 py-1 me-2 mb-2 border border-gray-600 text-gray-600 bg-white-600">
        Cancelar
      </button>
      <button type="submit" class="font-medium rounded-lg text-sm px-5 py-1 me-2 mb-2 text-white bg-blue-600">
        Guardar
      </button>
    </div>
  </form>
</div>
<dx-toast [(visible)]="showToast" [type]="toastType" [message]="messageToast">
  <dxo-position my="top" at="top" of="#userForm"> </dxo-position>
</dx-toast>