<div showControl [hasPermission]="1" class="w-full flex flex-col mt-5 gap-2">
    <h2 class="mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl">
      Notas de Debito
    </h2>
    <div class="w-full">
      <dx-data-grid id="gridContainer" keyExpr="id" [dataSource]="dataSource$ | async" [repaintChangesOnly]="true"
        [loadPanel]="{ enabled: true }" [allowColumnReordering]="true" [rowAlternationEnabled]="true"
        [allowColumnResizing]="true" [allowColumnReordering]="true" [showBorders]="true" [width]="'100%'"
        [height]="'600px'">
        <dxo-sorting mode="multiple"></dxo-sorting>
        <dxo-header-filter [visible]="true"></dxo-header-filter>
        <dxo-paging [pageSize]="15"></dxo-paging>
        <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[10, 25, 50, 100]"></dxo-pager>
        <dxo-search-panel [visible]="true" [highlightCaseSensitive]="true"></dxo-search-panel>
        <dxo-group-panel [visible]="true"></dxo-group-panel>
  
        <dxi-column caption="Fecha Creacion" dataField="creationDate" format="shortDate" dataType="date"
          alignment="center" format="dd/MM/yyyy" width="150"></dxi-column>
        <dxi-column caption="Referencia" dataField="reference" width="150"></dxi-column>
        <dxi-column caption="No. Factura" dataField="invoiceNo"></dxi-column>
        <dxi-column caption="Descipción"  dataField="description"></dxi-column>
  
        <dxi-column caption="Estado" dataField="status" width="150"></dxi-column>
  
        <dxi-column type="buttons" cellTemplate="cellButtonsTemplate" width="100">
          <div *dxTemplate="let factura of 'cellButtonsTemplate'">
  
            <button title="Ver" type="button" class="dx-link dx-icon-description dx-link-icon"
              (click)="onButtonClick(factura.data)"></button>
          </div>
        </dxi-column>
  
        <dxo-toolbar>
          <dxi-item name="groupPanel"></dxi-item>
          <dxi-item name="searchPanel"></dxi-item>
          <dxi-item location="after">
            <dx-button icon="add" hint="Agregar factura" aria-placeholder="Agregar factura" (onClick)="goToAdjustment()">
            </dx-button>
          </dxi-item>
        </dxo-toolbar>
      </dx-data-grid>
    </div>
  </div>