/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* * {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #f0f0f0;
}

.mat-form-field-label {
  color: green !important;
}

.mat-form-field-underline {
  background-color: green !important;
}

.breadcrumb {
  margin: 5px;
  width: 100%;
}

.xng-breadcrumb-root {
  padding: 2px 16px;
  display: inline-block;
  border-radius: 4px;
  background-color: #fff;
  color: #333;
} */

/* .xng-breadcrumb-separator {
  padding: 0 4px;
} */
