<div class="w-100">
  <form
    action=""
    class="w-100 mx-2 mt-5"
    (ngSubmit)="onSubmit(itemForm)"
    #itemForm="ngForm"
  >
    <h2 class="mb-5 text-xl font-semibold">
      @if(id){Editar}@else{Agregar Nueva} Cuenta
    </h2>
    <div class="grid grid-cols-2 gap-3">
      <div>
        <Label for="txt-description" class="block mb-2 text-sm text-gray-900"
          >Nombre de Cuenta</Label
        >
        <input
          id="txt-description"
          [(ngModel)]="accountForm.description"
          name="description"
          type="text"
          required
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2"
        />
      </div>
      <div>
        <Label for="select-category" class="block mb-2 text-sm text-gray-900"
          >Categoría</Label
        >
        <select
          id="select-category"
          [(ngModel)]="accountForm.categoryId"
          name="categoryId"
          required
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2"
        >
          @for (item of categories; track $index) {
          <option [value]="item.id">{{ item.name }}</option>
          }
        </select>
      </div>
      <div>
        <Label for="parent-account" class="block mb-2 text-sm text-gray-900"
          >Cuenta Padre</Label
        >
        <select
          id="parent-account"
          [(ngModel)]="accountForm.parentId"
          name="parentId"
          required
          (change)="onValueChange($event)"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2"
        >
          <option selected></option>
          @for (item of accounts; track $index) {
          <option [value]="item.id">{{ item.name }}</option>
          }
        </select>
      </div>
      <div>
        <div class="flex flex-row gap-1">
          <div class="w-1/4">
            <label for="account-code" class="block mb-2 text-sm text-gray-900"
              >Prefix</label
            >
            <input
              disabled
              name="prefix-txt"
              type="text"
              [value]="accountPrefix"
              class="bg-gray-50 border w-full border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 p-2"
            />
          </div>
          <div class="w-3/4">
            <Label
              for="account-code"
              class="block mb-2 text-sm w-full text-gray-900"
            >
              Código de cuenta</Label
            >
            <input
              [(ngModel)]="accountForm.code"
              name="code"
              required
              id="account-code"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2"
            />
          </div>
        </div>
      </div>
      <div>
        <Label for="select-tipically" class="block mb-2 text-sm text-gray-900"
          >Saldo Típico</Label
        >
        <select
          id="select-tipically"
          [(ngModel)]="accountForm.topicallyAmount"
          name="topicallyAmount"
          required
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2"
        >
          <option value="C">Crédito</option>
          <option value="D">Débito</option>
        </select>
      </div>
      <div>
        <Label for="select-hasEntry" class="block mb-2 text-sm text-gray-900"
          >Admite Registros</Label
        >
        <select
          id="select-hasEntry"
          [(ngModel)]="accountForm.hasEntry"
          name="hasEntry"
          required
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2"
        >
          <option value="true">Si</option>
          <option value="false">No</option>
        </select>
      </div>
      <div class="clear-both"></div>
    </div>
    @if(id){

    <div class="flex items-center border border-gray-200 rounded">
      <label class="inline-flex items-center p-2 cursor-pointer">
        <input
          type="checkbox"
          name="isActive"
          [(ngModel)]="accountForm.isActive"
          [checked]="accountForm.isActive"
          class="sr-only peer"
        />
        <div
          class="relative w-11 h-6 bg-gray-300 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[1px] after:bg-white after:border-gray-300 after:border after:rounded-full after:w-5 after:h-5 after:transition-all peer-checked:bg-blue-600"
        ></div>
        <span class="ms-3 text-sm font-medium text-gray-900"
          >@if(accountForm.isActive){Desactivar Cuenta}@else{Activar
          Cuenta}</span
        >
      </label>
    </div>

    <div class="w-100 mb-2">
      <h3 class="font-semibold text-slate-700">Historial de Saldos</h3>
      <dx-data-grid
        id="account-history"
        [showBorders]="true"
        [width]="'100%'"
        height="350"
      >
        <dxi-column caption="Saldo" dataType="currency"></dxi-column>
        <dxi-column caption="Fecha" dataType="date"></dxi-column>
        <dxi-column
          caption="Periodo Actual?"
          alignment="center"
          width="120"
        ></dxi-column>
      </dx-data-grid>
    </div>
    }

    <div class="flex justify-end">
      <a
        type="button"
        [routerLink]="'/accounting/configuration'"
        class="font-medium rounded-lg text-sm px-5 py-1 me-2 mb-2 text-white bg-red-600"
      >
        Cancelar
      </a>
      <button
        type="submit"
        class="font-medium rounded-lg text-sm px-5 py-1 me-2 mb-2 text-white bg-green-600"
      >
        Guardar
      </button>
    </div>
  </form>
</div>
